<div class="page-top-offset">
</div>

<div class="container">
 	<div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
    <div class="panel panel-default">
      
    	<form role="form" action="/bets/<%=params[:id]%>/pay_process">

    		<div class="panel-body">
	      	<div class="row">
		        <div class="col-xs-6 col-sm-6 col-md-6">
		          <address>
		            <strong>FundWok Inc.</strong>
		            <br>
		            	340 S LEMON AVE #3668
		            <br>
		            	WALNUT, CA 91789
		            <br>
		            Email: info@fundwok.com
		          </address>
		        </div>

		        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
		          <p>
		            <em><%= Time.now %></em>
		          </p>
		        </div>
		      </div>

	        <div class="text-center">
	          <h1>Order Details</h1>
	        </div>
	        <table class="table">
	          <thead>
	            <tr>
	              <th>Fund</th>
	              <th>Quantity</th>
	              <th class="text-center">Total</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td class="col-md-6"><em><%= @post.title %></em></td>
	              <td class="col-md-1" style="text-align: center"> 1 </td>
	              <td class="col-md-2 text-center">$<%= number_with_precision(@post.price, :precision => 2) %></td>
	            </tr>
	            <% if @post.user.wallet.amount >0 %>
		            <tr class="fw-main-color discount-row">
		              <td colspan=2 class="text-right"><strong>( Discount:</strong></td>
		              <td class="text-center">
		              	<strong>$<%= number_with_precision(@post.user.wallet.amount, :precision => 2) %> )</strong>
			            </td>
		            </tr>
	            <% end %>
	            <tr>
	              <td colspan=2 class="text-right">
		              <p>
		                <strong>Subtotal: </strong>
		              </p>
		              
	            	</td>
	              <td class="text-center">
		              <p>
		                <strong>$<%= number_with_precision(@subtotal, :precision => 2) %></strong>
		              </p>
		              
		            </td>
	            </tr>
	            <tr class='handling-fee-row'>
	              <td colspan=2 class="text-right">
		              
		              <p>
		                <strong>Handling Fee: </strong>
		              </p>
	            	</td>
	              <td class="text-center">
		              
		              <p>
		                <strong>$<%= number_with_precision(@handling_fee, :precision => 2) %></strong>
		              </p>
		            </td>
	            </tr>
	            <tr>
	              <td>
	              	<input type="radio" name="gateway" value="paypal" checked="checked">&nbsp;<img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" style="margin-right:7px;"><span style="font-size:11px; font-family: Arial, Verdana;">The safer, easier way to pay.</span>
	              </td>
	              <td class="text-right"><h4><strong>Total: </strong></h4></td>
	              <td class="text-center text-danger"><h4><strong>$<%= number_with_precision(@final_payment, :precision => 2) %></strong></h4></td>
	            </tr>
	          </tbody>
	        </table>

	        <input type="hidden" name="post_id" value="<%= params[:post_id] %>" />
			    <input type="hidden" name="bet_id" value="<%= @bet.id %>">
	        <button type="submit" class="btn btn-fw btn-lg btn-block">
	          Pay Now<span class="glyphicon glyphicon-chevron-right"></span>
	        </button>
	      </form>
	    </div><!-- end panel-body -->
      
    </div><!-- end panel -->
  </div><!-- end col -->
</div><!-- end container -->