<div class="container">
	<h1><%= @bet.post.title %></h1>
  <!-- /.panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-clock-o fa-fw"></i>Current Bets
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <ul class="timeline">
        <br />
        <br />
        <li>
          <div class="timeline-panel">
            <% if user_signed_in? %>
              <% if !@current_user_bet.empty? %>
                You've already submitted your bet!
              <% elsif @bet.post.user == current_user %>
                Kudos to you, <%= current_user.name %>!
              <% else %>
                <h4>Submit Your Bet:</h4>
                <%= form_for([@bet.post, @bet]) do |f| %>
                  <div class="form-group">
                    <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
                    <%= f.submit :class => "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div>
                <p>Please log in to create a bet</p>
              </div>
            <% end %>
          </div>
        </li>
        
        <li class="<%= cycle("timeline-inverted", "") %>" >
          <% if @bet.open? %>
            <div class="timeline-badge">
              <i class="fa fa-flag"></i>
            </div>
          <% elsif @bet.selected? %>
            <div class="timeline-badge info">
              <i class="fa fa-check"></i>
             </div>
          <% elsif @bet.submitted? %>
            <div class="timeline-badge success">
              <i class="fa fa-thumbs-up"></i>
             </div>
          <% elsif @bet.funded? %>
            <div class="timeline-badge success">
              <i class="fa fa-thumbs-up"></i>
             </div>
          <% end %>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to @bet.user.name, @bet.user %></h4>
              <p>
                <small class="text-muted"><i class="fa fa-time"></i><%= reformatted_post_datetime(@bet.created_at) %></small>
              </p>
            </div>
            <div class="timeline-body">
              <p><%= @bet.body %></p>
              <% if @bet.open? %>
                <% if @bet.post.user == current_user %>
                  <hr>
                  <%= button_to select_post_bet_path(@bet.post, @bet), :method => :post, :class => "btn btn-success" do %>
                    Select
                  <% end %>
                <% end %>
              <% elsif @bet.selected? %>
                <% if @bet.user == current_user %>
                  <hr>
                  <h4>Submit Your Update:</h4>
                  <%= form_for([@bet.post, @bet, @update], :url => post_bet_updates_path(@bet.post, @bet)) do |f| %>
                    <div class="form-group">
                      <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
                      <%= f.submit :class => "btn btn-primary" %>
                    </div>
                  <% end %>
                <% end %>
              <% elsif @bet.submitted? %>
                <hr>
                <% if @bet.update %>
                  <p>
                    <small class="text-muted"><i class="fa fa-time"></i><%= reformatted_post_datetime(@bet.update.created_at) %></small>
                  </p>
                  <p>
                    <%= @bet.update.body %>
                    <% if @bet.user == current_user %>
                      <%= button_to receive_post_bet_path(@bet.post, @bet), :method => :get, :class => "btn btn-success pull-right" do %>
                        Claim Fund
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              <% elsif @bet.funded? %>
                <hr>
                <% if @bet.update %>
                  <p>
                    <small class="text-muted"><i class="fa fa-time"></i><%= reformatted_post_datetime(@bet.update.created_at) %></small>
                  </p>
                  <p>
                    <%= @bet.update.body %>
                    <p class='pull-right'>Funded!</p>
                  </p>
                <% end %>
              <% end %>
              <!-- bet snippet ends -->
            </div>
          </div>
        </li>      
      </ul>
      <br />
      <br />
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  <%= link_to 'Back', :back %>
</div>
