Hi <%= notification.receipts.find_by_notification_id(notification.id).receiver.name %>,
<br /><br />
<% if notification.notified_object %>
	<% if notification.notified_object_type == 'Bet' %>	
		<p><%= notification.subject %>:</p>
		<p>
			"<%= notification.notified_object.body %>"
		</p>
		<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			<% if notification.notified_object.open? %>
				View and Select
			<% elsif notification.notified_object.selected? %>
				View
			<% elsif notification.notified_object.submitted? %>
				View Update
			<% elsif notification.notified_object.awaiting_modification? %>
				View and Modify
			<% elsif notification.notified_object.funded? %>
				View
			<% end %>
		<% end %>
	<% elsif notification.notified_object_type == 'Order' %>
		<p>
			<%= notification.subject %>.	
		</p>
		<%= link_to post_url(notification.notified_object.bet.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			View
		<% end %>
	<% elsif notification.notified_object_type == 'Relationship' %>
		<p>
			<%= notification.subject %>.	
		</p>
		<%= link_to followers_user_url(notification.receipts.find_by_notification_id(notification.id).receiver, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			View
		<% end %>
	<% end %>
<% else %>
	<p><%= notification.subject %></p>
<% end %>
<br /><br />
<p>
	Thanks,<br />
	FundWok
</p>