Hi <%= notification.receipts.find_by_notification_id(notification.id).receiver.name %>,
<br /><br />
<% if notification.notified_object %>
	<% if notification.notified_object_type == 'Bet' %>	
		<p><%= notification.subject %>:</p>
		
		<% if notification.notified_object.open? %>
			<p>"<%= notification.notified_object.body %>"</p>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				<% if notification.notified_object.user == notification.notified_object.post.user %>
					View and Select
				<% else %>
					View
				<% end %>
			<% end %>
		<% elsif notification.notified_object.selected? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				<% if notification.notified_object.user == notification.notified_object.post.user %>
					View
				<% else %>
					View and Update
				<% end %>
			<% end %>
		<% elsif notification.notified_object.submitted? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				<% if notification.notified_object.user == notification.notified_object.post.user %>
					View
				<% else %>
					View Status
				<% end %>
			<% end %>
		<% elsif notification.notified_object.awaiting_modification? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				<% if notification.notified_object.user == notification.notified_object.post.user %>
					View
				<% else %>
					View and Update
				<% end %>
			<% end %>
		<% elsif notification.notified_object.modified? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				<% if notification.notified_object.user == notification.notified_object.post.user %>
					View
				<% else %>
					View and Complete
				<% end %>
			<% end %>
		<% elsif notification.notified_object.credited? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				View
			<% end %>
		<% elsif notification.notified_object.funded? %>
			<%= link_to post_url(notification.notified_object.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
				View
			<% end %>
		<% end %>
		
	<% elsif notification.notified_object_type == 'Reply' %>
		<p><%= notification.subject %>:</p>
		<p>
			"<%= notification.notified_object.body %>"
		</p>
		<%= link_to post_url(notification.notified_object.bet.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			View
		<% end %>
	<% elsif notification.notified_object_type == 'Order' %>
		<p>
			<%= notification.subject %>.	
		</p>
		<%= link_to post_url(notification.notified_object.bet.post, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			View
		<% end %>
	<% elsif notification.notified_object_type == 'Relationship' %>
		<p>
			<%= notification.subject %>.	
		</p>
		<%= link_to followers_url(notification.receipts.find_by_notification_id(notification.id).receiver, :anchor => 'fw-panel'), :class => 'btn btn-fw' do %>
			View
		<% end %>
	<% elsif notification.notified_object_type == 'Nomination' %>
		<% if notification.notified_object.sender %>
			<p>
				<%= link_to notification.notified_object.sender.name, user_url(notification.notified_object.sender) %> nominates you for the fund <%= link_to notification.notified_object.post.title, post_url(notification.notified_object.post) %>.
			</p>
		<% else %>
			<p>
				<%= notification.notified_object.sender_name %> nominates you for the fund <%= link_to notification.notified_object.post.title, post_url(notification.notified_object.post) %>.
			</p>
		<% end %>
		<%= link_to post_url(notification.notified_object.post), :class => 'btn btn-fw' do %>
			View and Apply
		<% end %>
	<% end %>
<% else %>
	<p><%= notification.subject %></p>
<% end %>
<br /><br />
<p>
	Thanks,<br />
	FundWok
</p>