<div class='row'>
	<div id="user-profile-header" class="text-center">

		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 user-profile-metrics-column-left">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell text-center">
				<%= link_to followers_path(@user) do %>
			  	<span class="user-metrics-number"><%= @user.followers.count %></span><br /><small><% if @user.followers.count == 1 %>Follower<% else %>Followers<% end %></small>
			  <% end %>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell">
				<%= link_to user_path(@user, anchor: "user-funds") do %>
			  	<span class="user-metrics-number"><%= @user.posts.count %></span><br /><small><% if @user.posts.count == 1 %>Fund<% else %>Funds<% end %></small>
			  <% end %>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell">
				<%= link_to followings_path(@user) do %>
			  	<span class="user-metrics-number"><%= @user.followeds.count %></span><br /><small>Following</small>
			  <% end %>
			</div>
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<% if current_user && @user == current_user %>
      	<%= form_for @user_info, html: { multipart: true, :class => "form-horizontal" } do |f| %>
	        <div class="fileinput fileinput-new col-lg-12" data-provides="fileinput">
	        	<div class="col-lg-12">
			      	<span id="user-avatar-upload-switch" class="btn btn-default btn-xs">
								<i class="fa fa-pencil"></i>
							</span>
						</div>

	        	<div class="col-lg-12">
		          <div class="fileinput-new img-circle" id="user-avatar-upload">
		            <img data-src="holder.js/100%x100%">
		          </div>
	        	</div>

	          <div id="user-avatar-upload-slide" class="col-lg-12 well">
	          	<div class="fileinput-preview fileinput-exists thumbnail" id="user-profile-avatar-preview">
	          	</div>
	          	<div id="user-profile-avatar-edit-panel">
			          <span class="btn btn-default btn-file btn-xs">
			            <span class="fileinput-new">Browse image</span>
			            <span class="fileinput-exists">Change</span>
			            <%= f.file_field :avatar %>
			          </span>
			          <a href="#" class="btn btn-default fileinput-exists btn-xs" data-dismiss="fileinput">Remove</a>
			          <%= f.submit "Submit", :class => "btn btn-danger btn-xs", :id => "user-profile-avatar-submit" %>
			        </div>
	        	</div>

	        </div>   
	      <% end %>
      <% else %>
	      <div class="fileinput fileinput-new col-lg-12" data-provides="fileinput">
          <div class="fileinput-new pull-right img-circle" id="user-avatar-upload">
            <img data-src="holder.js/100%x100%">
          </div>
	      </div>   
    	<% end %>
  	</div>


		<!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div class="fileinput-new img-circle" id="user-avatar-upload">
      	<img data-src="holder.js/100%x100%">
    	</div>
		</div> -->
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 user-profile-metrics-column-right">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell">
				<span class="user-metrics-number"><%= @user.kudos %></span><br />
				<small>
          <% if @user.kudos >1 %>
            Kudos<br />
            <% else %>
            Kudo<br />
          <% end %>
      	</small>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell">
				<span class="user-metrics-number"><%= @user.contributions.ceil %></span><br />
				<small>
          <% if @user.contributions.ceil >1 %>
            Karmas<br />
            <% else %>
            Karma<br />
          <% end %>
      	</small>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user-profile-metrics-cell award-rate-cell">
				<span class="user-metrics-number"><%= @user.award_rate %></span><br />
	      <small>Award Rate</small>
			</div>
		</div>

		<hr class="user-profile-divider">

	</div>
</div>