<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hero-feature listing-big">
  <div class="thumbnail">
    <div class="thumbnail-cover" id="user-thumbnail" style="background-image: url(<%= user.user_info.cover_photo(:medium) %>);">
      <div class="row">
        <%= link_to user do %>
        <div id="follow-user-clickable-block">
        </div>
        <% end %>
        <div class="follow-user-thumbnail-block">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="follow-user-thumbnail">
              <%= link_to image_tag(user.user_info.avatar.url(:medium), size: "80x80", :class => "img-circle author-thumbnail"), user, :class => "media-object" %>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="follow-user-info">
              <div class="pull-left">
                <%= link_to user.name, user, :class => "author" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>                
    <div class="follow-brief-desc">
      <div class="">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center thumbnail-contributions-block">
          <span class="thumbnail-contributions fw-main-color">
            <span class="thumbnail-kudos-number"><%= user.kudos %></span>&nbsp;
            <i class="fa fa-thumbs-up"></i>&nbsp;
            <% if user.kudos >1 %>
              Kudos<br />
              <% else %>
              Kudo<br />
            <% end %>
            <span class="thumbnail-kudos-number"><%= user.contributions.ceil %></span>&nbsp;
            <i class="fa fa-refresh"></i>&nbsp;
            <% if user.contributions.ceil >1 %>
              Karmas<br />
              <% else %>
              Karma<br />
            <% end %>
          </span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 brief-desc-text pull-left">
          <% if user.user_info.biography != nil && user.user_info.biography != '' %>
            <%= link_to sanitize(user.user_info.biography), user %>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
        
    <div class="modal-footer">
      <div class="row funding-metrics text-center follow-metrics">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 follow-metrics-cell">
          <span class="follow-number">
            <%= user.posts.count %>
          </span><br/>
          <small class="funding-metrics-text">
            <% if user.posts.count <= 1 %>
              FUND
            <% else %>
              FUNDS
            <% end %>
          </small>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 follow-metrics-cell">
          <span class="follow-number">
            <%= user.followers.count %>
          </span><br/>
          <small class="funding-metrics-text">
            <% if user.followers.count <= 1 %>
              FOLLOWER
            <% else %>
              FOLLOWERS
            <% end %>
          </small>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 follow-metrics-cell">
          <span class="follow-number">
            <%= user.followeds.count %>
          </span><br/>
          <small class="funding-metrics-text">
            FOLLOWING
          </small>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3 follow-metrics-button">
          <% if current_user %>
            <% if current_user != user %>
    				  <% if current_user.following? user %>
                <div class="pull-right">
      				  	<%= form_for current_user.followed_relationships.find_by(followed_id: user.id),
                   html: { method: :delete } do |f| %>
        						<%= f.submit "Unfollow", :class => "btn btn-large pull-right unfollow-user" %>
      						<% end %>
                </div>
    				  <% else %>
                <div class="pull-right">
      				  	<%= form_for(current_user.followed_relationships.build(followed_id: user.id)) do |f| %>
      				  		<%= f.hidden_field :followed_id %>
      						  <%= f.submit "Follow", class: "btn btn-danger pull-right" %>
      						<% end %>
                </div>
    				  <% end %>
            <% else %>
              <%= link_to 'Edit', user, :class => 'btn btn-default pull-right' %>
            <% end %>
  				<% elsif !current_user %>
            <div class="pull-right">
    			    <%= link_to "#myModal", :data => {:toggle=>"modal"}, :class => "btn btn-danger" do %>
    			      <div class="text-center">
    			        Follow</small>
    			      </div>
    			    <% end %>
            </div>
  				<% end %>
        </div>
      </div>
    </div>
  </div><!-- end thumbnail -->
</div><!-- end column -->