<div class="jumbotron" id="user-cover">
	<div id="<% if @user.user_info.cover_photo_file_size != nil %>user-cover-filter<% end %>">
		<%= render :partial => "users/edit_cover_photo" %>
		<div id="user-profile-main-visual">
			<%= render :partial => "users/user_metrics_line" %>
			<%= render :partial => "users/name_and_location" %>
			<%= render :partial => "users/bio" %>
			<%= render :partial => "users/follow_panel" %>
			<%= render :partial => "users/social_media_panel" %>
		</div>
	</div>
</div>

<div class="container">
	<h1 class="decoration text-center proj" id="user-funds">
		<span class="nobgr"><%= @user.name %>'s Funds</span>
	</h1>

	<div class="container">
	  <div class="row">
	  	<% if @user.posts.published.count == 0 %>
	    	<div class="col-md-10 col-md-offset-1 text-center">
			  	<div class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-12">
				    <div class="thumbnail">
				      <img src="http://i3.kym-cdn.com/entries/icons/original/000/016/042/Wait-For-It.jpg" class="error-image">
				      <span class="small pull-right link-source"><a href="http://i3.kym-cdn.com/entries/icons/original/000/016/042/Wait-For-It.jpg" target="_blank">knowyourmeme.com</a></span>
				      <div class="caption text-center">
				        <h3>There are no funds published by this user now. </h3>
				        <p>When there are, it'll be legendary.</p>
				        <p><a href="/" class="btn btn-fw btn-outline-rounded">Look for the next great fund<i style="margin-left:10px;" class="fa fa-search"></i></a></p>
				        <span><%= link_to "Back", :back %></span>
				      </div>
				    </div>
					</div>
				</div>
	    <% else %>
	    	<div class="col-md-10 col-md-offset-1">
	      	<%= render '/posts/postscontainer' , :user_posts => true, :url_to_get_posts => "/getuserposts" %>
	      </div>
	  	<% end %>
	  </div><!-- end row -->
	</div><!-- container -->
</div>

<style>
	#user-cover {
		background-image: url(<%= @user_info.cover_photo %>);
	}

	#user-cover-image-upload {
		background-image: url(<%= @user_info.cover_photo(:medium) %>);
	}

	#user-avatar-upload {
		background-image: url(<%= @user_info.avatar(:medium) %>);
		background-size: cover;
	}

	#user-cover-upload-slide {
		display: none;
	}

	#user-avatar-upload-slide {
		display: none;
	}

	@media (max-width: 420px) {
		<% if current_user && @user == current_user %>
		  #user-avatar-upload {
		    left: -70%;
		  }
	  <% end %>
	}
</style>

<script>
	var location_editing = false;
	<% if current_user && @user == current_user %>
		var user_id = <%= @user.id %>
	<% end %>
	var id;
	$(window).resize(function() {
	    clearTimeout(id);
	    id = setTimeout(fix_overflow_of_biography, 500);
	});

	function fix_overflow_of_biography(){
	    var user_edit_width = $('.user-edit-block').width();
	    var selector = ($('#user-info-biography')[0]) ? $('#user-info-biography') : $('#user-info-biography-em')
	    if(!selector.data('bip-original-content')) {
	    	return ;
	    }
	    var biography_html = selector.data('bip-original-content').replace(/ +(?= )/g,'').replace( /\n/g, ' ' );
	    var texts = biography_html.split(' ');
	    biography_html = "";
	    for(var i in texts) {
	    	var text = texts[i];
	    	text = break_text(text,selector,user_edit_width);
	    	biography_html += text + " ";
	    }
	    selector.html(biography_html);
	}

	function break_text(text,selector,max_width) {
		selector.html(text);
		var selector_width = selector.width();
		var rem_text = "";
		while(selector_width > max_width) {
			rem_text = text.slice(-1) + rem_text;
			text = text.slice(0,-1);
			selector.html(text);
			selector_width = selector.width();
		}

		if(rem_text.length > 0) text += " " + break_text(rem_text,selector,max_width);
		return text;
	}

	fix_overflow_of_biography();

	$('#user-info-biography').bind("ajax:success", function(data) { 
		$('#user-info-biography').data('bip-value', $('#user-info-biography').html());
		$('#user-info-biography').attr('data-bip-value', $('#user-info-biography').html());
		$('#user-info-biography').data('bip-original-content', $('#user-info-biography').html());
		$('#user-info-biography').attr('data-bip-original-content', $('#user-info-biography').html());
		fix_overflow_of_biography();
		$('#user-info-biography').removeData('bestInPlaceEditor');
		$('#user-info-biography').best_in_place();
		$('#user-info-biography').activate();
	});

	$('#user-cover-upload-switch').click(function() {
		$( "#user-cover-upload-slide" ).toggle();
	});

	$('#user-avatar-upload-switch').click(function() {
		$( "#user-avatar-upload-slide" ).toggle();
	});

	<% if current_user && @user == current_user %>
	  	$(document).ready(function() {
		    var place_prediction_url = "/place/prediction";
		    $('#edit-location-input').tokenInput(place_prediction_url, {
		      preventDuplicates: true,
		      theme: "facebook",
		      tokenValue: "name",
		      tokenLimit: 1,
		      prePopulate: $.parseJSON($('#edit-location-input').attr('data-load')),
		      noResultsText: "No such place",
		      onAdd: function(item) {
		      	$('#location-span').html(item.name);
		      	$('#edit-location').show();
		    	$('#location-span').show();
		    	$('.token-input-list-facebook').hide();
			    $.ajax({
			      url: "/user_infos/"+user_id,
			      type: 'PUT',
			      dataType: "json",
			      data: ({ user_info: { location: item.name } })
			    });
		      },
		      onDelete: function(item) {
		      	$('#location-span').html("");
			    $.ajax({
			      url: "/user_infos/"+user_id,
			      type: 'PUT',
			      dataType: "json",
			      data: ({ user_info: { location: "" } })
			    });
		      }
		    });
		    $('.token-input-list-facebook').hide();

		    $('.token-input-list-facebook').hover(function(){ 
		        location_editing=true; 
		    }, function(){ 
		        location_editing=false; 
		    });

		    $('#edit-location').click(function() {
		    	$('#edit-location').hide();
		    	$('#location-span').hide();
		    	$('.token-input-list-facebook').show();
		    });

		    $("body").mouseup(function(){ 
		        if(!location_editing) {
			      	$('#edit-location').show();
			    	$('#location-span').show();
			    	$('.token-input-list-facebook').hide();
		        }
		    });
		 })
	<% end %>
</script>