<br />
<h3>Posted funds</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr class="job-header">
      <th>Post Title</th>
      <th>Paid?</th>
      <th>Description</th>
      <% if @user == current_user %>
        <th colspan="2">Admin Only</th>
      <% end %>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @posts.each do |post| %>
    	<!-- only have the post show up if paid or created by current user -->
    	<% if !(post.user != current_user && !post.paid?) %>
	      <tr>
	        <td>
	        <%= link_to post.title, post %>
	        </td>
	        <td>
	        	<% if post.paid? %>
	        		Paid
	        	<% else %>
	        		<%= link_to 'Pay', {:controller => :posts, :action=> :payment, :id => post.id}, :class => 'btn btn-success' %> 
	        	<% end %>
	        </td>
	        <td><%= raw post.description.truncate(20) %>
	          <% if @user == current_user %>
	            <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-default' %></td>
	            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
	          <% end %>
	        </td>    
	      </tr>
      <% end %>
      <!-- end evaluation if whether the post should show up -->
    <% end %>
  </tbody>
</table>

<h3>Funded</h3>

<table>
<tbody>
<% @bets.each do |bet| %>
	<tr>
	<td><%= bet.post.title %></td>
	<td><%= bet.post.price %></td>
	</tr>
<% end %>
</tbody>
</table>

<% if @user == current_user %>
	<h3>Accounts</h3>
	<% @paypal_recipient_accounts.each do |account| %>
		<%= account.email %>
		<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
	<% end %>

	<%= form_for @paypal_recipient_account, :url => { :controller => "paypal_recipient_accounts", :action => "create" }, :html => {:method => :post} do |f| %>
		<div class="form-group">
		  <%= f.text_area :email, :class => 'form-control' %><br />
		  <%= f.submit :class => "btn btn-primary" %>
		</div>
	<% end %>
<% end %>