<div class="container">
	<h1><%= @user.name %></h1>

	<h3>Avatar</h3>
	<% if @user.avatar %>
		<%= image_tag @user.avatar.url(:medium) %>
	<% end %>

	<% if @user_info.biography %>
		<%= @user_info.biography %>
		<% if @user == current_user %>
			<%= link_to 'Edit', edit_user_info_path(:id => @user.user_info.id), :class => 'btn btn-default' %>
		<% end %>
	<% elsif @user == current_user %>
		<%= form_for @user_info, :url => { :controller => "user_infos", :action => "create" }, :html => {:method => :post} do |f| %>
			<div class="form-group">
			  <%= f.text_area :biography, :class => 'form-control' %><br />
			  <%= f.submit :class => "btn btn-primary" %>
			</div>
		<% end %>
	<% end %>

	<h1 class="decoration text-center proj"><span class="nobgr"><%= @user.name %>'s Funds</span></h1>

	<div class="container">
	  <div class="row">
	    <div class="col-md-10 col-md-offset-1">

	      <%= render '/posts/postscontainer' , :user_posts => true, :url_to_get_posts => "/getuserposts", :user_id => @user.id %>
	  
	    </div><!-- end coloum -->
	  </div><!-- end row -->
	</div><!-- container -->

	<h3>Funded</h3>

	<table>
	<tbody>
	<% @bets.each do |bet| %>
		<tr>
		<td><%= bet.post.title %></td>
		<td><%= bet.post.price %></td>
		</tr>
	<% end %>
	</tbody>
	</table>

	<% if @user == current_user %>
		<h3>Accounts</h3>
		<% @paypal_recipient_accounts.each do |account| %>
			<%= account.email %>
			<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
		<% end %>

		<%= form_for @paypal_recipient_account, :url => { :controller => "paypal_recipient_accounts", :action => "create" }, :html => {:method => :post} do |f| %>
			<div class="form-group">
			  <%= f.text_area :email, :class => 'form-control' %><br />
			  <%= f.submit :class => "btn btn-primary" %>
			</div>
		<% end %>
	<% end %>
</div>