<div class="jumbotron" id="user-cover">
	<% if @user == current_user %>
		<div class="pull-right">
			<%= form_for @user_info, html: { multipart: true, :class => "form-horizontal" } do |f| %>
		    <%= f.file_field :cover_photo %>
		    <%= f.submit "Submit", :class => "btn" %>      
			<% end %>
		</div>
	<% end %>
</div>

<div class="user-profile-outer">
	<div class="container" id="user-profile-main">
		<div class="col-lg-8 col-md-6 col-sm-6 cl-xs-8 col-md-offset-2">
	  	<div class="row well" id="user-profile-container"> 
	      <div class="col-lg-3 text-center">
	      	<% if @user.avatar %>
						<%= image_tag @user.avatar.url(:medium), :class => 'img-circle', :width => "150px" %>
					<% end %>
	      </div>
	      <div class="col-lg-9">
	      	<div class="row">
	      		<div class="col-md-6 col-sm-6 col-xs-12">
	      			<h2 class="user-profile-name"><%= @user.name %></h2>
	      		</div>
	      		<div class="col-md-6 col-sm-6 col-xs-12">
	        		<span class="user-profile-location"><i class="fa fa-map-marker"></i>&nbsp;<%= best_in_place_if @user == current_user, @user.user_info, :location, :type => :input, :activator => '#edit-location' %><% if @user == current_user %><%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit".html_safe, "#", :id => 'edit-location', :class => 'fw-main-color' %><% end %>
	        		</span>		
	      		</div>
	      	</div>
	      	<div class="row user-profile-block">
	      		<div class="user-edit-block">				
							<p><em><%= best_in_place_if @user == current_user, @user.user_info, :biography, :type => :input, :activator => '#edit-biography' %><% if @user == current_user %><%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit".html_safe, "#", :id => 'edit-biography', :class => 'fw-main-color' %><% end %></em></p>
							<% if @user == current_user %>
								<p><i class="fa fa-home"></i>&nbsp;Website: http://<%= best_in_place @user.user_info, :website, :type => :input, :activator => '#edit-website' %><% if @user == current_user %><%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit".html_safe, "#", :id => 'edit-website', :class => 'fw-main-color' %><% end %></p>
								<p><i class="fa fa-linkedin-square"></i>&nbsp;LinkedIn: http://<%= best_in_place @user.user_info, :linkedin, :type => :input, :activator => '#edit-linkedin' %><% if @user == current_user %><%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit".html_safe, "#", :id => 'edit-linkedin', :class => 'fw-main-color' %><% end %></p>
								<p><i class="fa fa-twitter-square"></i>&nbsp;Twitter: http://twitter.com/<%= best_in_place @user.user_info, :twitter, :type => :input, :activator => '#edit-twitter' %><% if @user == current_user %><%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit".html_safe, "#", :id => 'edit-twitter', :class => 'fw-main-color' %><% end %></p>
							<% else %>
								<hr class="post-content-divider">
								Find me at&nbsp;
								<% if (@user.user_info.website != nil && @user.user_info.website != "") %>
									<%= link_to "<i class='fa fa-home fa-lg fw-main-color'></i>".html_safe, 'http://' + @user.user_info.website, :target => '_blank' %>
								<% else %>
									<i class='fa fa-home fa-lg disabled-icon'></i>	
								<% end %>
								<% if (@user.user_info.linkedin != nil && @user.user_info.linkedin != "") %>
									<%= link_to "<i class='fa fa-linkedin-square fa-lg fw-main-color'></i>".html_safe, 'http://' + @user.user_info.linkedin, :target => '_blank' %>
								<% else %>
									<i class="fa fa-linkedin-square fa-lg disabled-icon"></i>	
								<% end %>
								<% if (@user.user_info.twitter != nil && @user.user_info.twitter != "") %>
									<%= link_to "<i class='fa fa-twitter-square fa-lg fw-main-color'></i>".html_safe, 'http://twitter.com/' + @user.user_info.twitter, :target => '_blank' %>
								<% else %>
									<i class="fa fa-twitter-square fa-lg disabled-icon"></i>
								<% end %>
							<% end %>
						</div>
	      	</div>
	      </div>
	    </div>
		</div>
	</div>
</div>

<div id="user-profile-offset-space">
</div>

<div class="container">
	<h1 class="decoration text-center proj"><span class="nobgr"><%= @user.name %>'s Funds</span></h1>

	<div class="container">
	  <div class="row">
	    <div class="col-md-10 col-md-offset-1">

	      <%= render '/posts/postscontainer' , :user_posts => true, :url_to_get_posts => "/getuserposts", :user_id => @user.id %>
	  
	    </div><!-- end coloum -->
	  </div><!-- end row -->
	</div><!-- container -->
</div>
<style>
	#user-cover {
		background-image: url(<%= @user_info.cover_photo %>);
	}
</style>