<div class="page-top-offset">
</div>

<div class="container" id="directory">
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
    	<div class="row">
	    	<div class="col-lg-4 col-md-4 col-sm-6">
	    		<div class="col-md-10">
						<h4>I. Business Services</h4>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Promoting/ Marketing', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Offer Products', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Offer Services', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Special Events', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Social Media', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Exposure', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Research', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Market Research', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Tips', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Special Offers', '#' %></h5>
						</div>
					</div>
					
					<div class="category-block">			
						<div class="col-md-12">
							<h5><%= link_to 'Growing Business', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Attract Customers/ Clients', '#' %></span>
						</div>
					</div>
					
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Hiring/ Freelancers', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Special Event', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Promotional Event', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for One Day', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Long Term', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Freelancers', '#' %></span>
						</div>
					</div>	
					
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Services for Hire', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Writing', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Career Advice', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Graphic Design', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Marketing', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Cleaning', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Sales', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Volunteers', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Assistants', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Runners', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Couriers', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Financial Advisors', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Miscellaneous', '#' %></span>
						</div>
					</div>		
					
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Sponsorships', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Sponsor a Community Event', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Sponsor a School or College', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Sponsor an Individual or Family', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Sponsor a Program', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Miscellaneous', '#' %></span>
						</div>
					</div>									
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="col-md-12">
						<h4>II. Individual Services</h4>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Lifestyle', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Health/ Diet', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Fitness/ Exercise', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Family/ Parenting', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Dating/ Romance', '#' %></h5>
						</div>
					</div>
					
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Education', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Learn Something', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Teach Something', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Help Someone to Learn', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Travel', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Travel Suggestions', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Vacation Planning', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Help Someone to Travel', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Find Places to Stay When Traveling', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Postcards', '#' %></span>
						</div>
					</div>
						
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Creative', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hire Creative Services', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Help Someone Learn Something Creative', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hire Someone For a Creative Project', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Hiring/ Freelancers', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Special Event', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Promotional Event', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for One Day', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Hiring for Long Term', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Freelancers', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Services for Hire', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Childcare', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Cleaning', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Assistant', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Driver', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Financial Help', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Miscellaneous', '#' %></span>
						</div>
					</div>				
	
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Gifts', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Animals', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Grooming', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Petcare', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Pet Hotels', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Help Someone obtain a pet', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Pet Giveaways', '#' %></span>
						</div>
					</div>
					
					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Fun', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Spiritual', '#' %></h5>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Fortune Telling', '#' %></span>
						</div>
						<div class="col-md-12">
							<span><%= link_to 'Astrology', '#' %></span>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Health & Fitness', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Miscellaneous', '#' %></h5>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="col-md-12">
						<h4>III. Philanthropic/ Social</h4>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Charities', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Community', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Good Deeds', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Sponsorships', '#' %></h5>
						</div>
					</div>

					<div class="category-block">
						<div class="col-md-12">
							<h5><%= link_to 'Miscellaneous', '#' %></h5>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>