<div class="container">
<h1>Finances</h1>
	<!-- tabs -->
	<div class="tabbable">
	  <div id="tabs_pages">
	    <ul class="tabs_pages_ul">
	      <li class="active col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="#tab1" data-toggle="tab">$<%= @contributions_sum %><br />CONTRIBUTIONS</a></li>
	      <li class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="#tab2" data-toggle="tab">$<%= @credits_sum %><br />FUNDING RECEIVED</a></li>
	    </ul>
	  </div>
	  <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    <div class="tab-pane active" id="tab1">
	      <div id="description_content">
	        <table class="table table-hover">
						<% if @posts.count != 0 %>
							<thead>
								<td>Number</td>
								<td>Post</td>
								<td>Amount Claimed</td>
								<td>Service</td>
								<td>Date</td>
							</thead>
					  	<tbody>
					  		<% @posts.each do |post| %>
					  			<%= render :partial => "pages/post", :locals => {:post => post} %>
					  		<% end %>
					  		<div id="contributions-pagination">
								  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
								</div>
					  	</tbody>
				  	<% end %>
				  </table>					
	      </div>
	    </div>
	    <div class="tab-pane" id="tab2">
	      <div id="backers_content">
	        <table class="table table-hover">
						<thead>
							<td>Number</td>
							<td>Post</td>
							<td>Credits</td>
							<td>Status</td>
							<td>Date</td>
						</thead>
				  	<tbody>
				  		<% @bets.each do |bet| %>
					  		<tr>
						  		<td>Record #</td>
						  		<td><%= link_to bet.post.title, bet.post %></td>
						  		<td>
						  			<% if bet.status == "Funded" %>
						  				<%= bet.post.price %>
						  			<% else %>
						  				0
						  			<% end %>
						  		</td>
						  		<td><%= bet.status %></td>
						  		<td><%= reformatted_post_datetime(bet.created_at) %></td>
					  		</tr>
				  		<% end %>
				  		<div id="paginate-bets">
							  <%= will_paginate @bets, renderer: BootstrapPagination::Rails %>
							</div>
				  	</tbody>
					</table>
	      </div><!-- end backer's content -->
	    </div><!-- end tab2 -->
	  </div><!-- end of tab content -->
	</div><!-- end of tabbable -->

	<h3>Account</h3>
	<% if @user.paypal_recipient_account %>
		<%= @user.paypal_recipient_account.email %>
		<%= link_to 'Destroy', @user.paypal_recipient_account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
	<% else %>
		<%= form_for @paypal_recipient_account, :url => { :controller => "paypal_recipient_accounts", :action => "create" }, :html => {:method => :post} do |f| %>
			<div class="form-group">
			  <%= f.text_area :email, :class => 'form-control' %><br />
			  <%= f.submit :class => "btn btn-primary" %>
			</div>
		<% end %>
	<% end %>
</div>