<p><%= bet.body %></p>
		                <% if bet.open? %>
			  							<% if @post.user == current_user %>
				                <hr>
				                <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-success" do %>
							          	Select
							          <% end %>
		                	<% end %>
		                <% elsif bet.selected? %>
							  			<% if bet.user == current_user %>
							  				<hr>
									  		<h4>Submit Your Update:</h4>
									    	<%= form_for([@post, bet, @update], :url => post_bet_updates_path(@post, bet)) do |f| %>
									        <div class="form-group">
									          <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
									          <%= f.submit :class => "btn btn-primary" %>
									        </div>
									      <% end %>
							  			<% end %>
							  		<% elsif bet.submitted? %>
							  			<hr>
								  		<% if bet.update %>
								  			<p>
								  				<small class="text-muted"><i class="fa fa-time"></i><%= bet.update.created_at %></small>
								  			</p>
								  			<p>
								  				<%= bet.update.body %>
								  			</p>
								  		<% end %>
								  	<% end %>