<!-- tabs -->
<div class="tabbable">
  <div id="tabs_pages">
    <ul class="tabs_pages_ul">
      <li class="active col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="#tab1" data-toggle="tab">DESCRIPTION</a></li>
      <li class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="#tab2" data-toggle="tab">APPLICANTS</a></li>
    </ul>
  </div>
  <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tab-pane active" id="tab1">
      <div id="description_content">
        <div class="text_description_content"><%= @post.description %></div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div id="backers_content">
        <% if @post.bets.size == 0 %>
          <span>There are no applications yet.</span>
        <% else %>
          <div class="row">
            <% @post.bets.each do |bet| %>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="applicant-listing row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                    <div class="applicant-avatar-block">
                    <% if bet.user.user_info.avatar? %>
                      <%= link_to image_tag(bet.user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail"), bet.user, :class => "media-object" %>
                    <% else %>
                      <%= link_to image_tag("http://placehold.it/60x60", size: "50x50", :class => "img-circle author-thumbnail"), bet.user, :class => "media-object" %>
                    <% end %>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 applicant-info">
                    <div class="applicant-name"><%= link_to bet.user.name, bet.user %></div>
                    <div class="application-date">submitted <%= reformatted_post_datetime(bet.created_at) %></div>
                  </div>
                </div>
              </div>
            <% end %>            
          </div><!-- ends row -->
        <% end %>            

      </div><!-- end backer's content -->
    </div><!-- end tab2 -->


  </div><!-- end of tab content -->
</div><!-- end of tabbable -->