<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script type="text/javascript"> // load initialize() from googlemap.js
  window.onload = function() { 
   initialize(); 
} 
</script>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-sm">
      <fieldset>
        <legend class="text-center">Create a New Fund</legend>
        <%= form_for @post, :builder => Judge::FormBuilder, html: { multipart: true, :class => "form-horizontal" } do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label class="col-md-3 control-label" for="title">Title</label>
            <div class="col-md-8">
              <div class="col-md-12">
                <div class="col-md-3">
                  I am giving
                </div>
                <div class="col-md-9">
                  $<%= f.text_field :price, :class => "form-control post-number-input" %> to
                  <%= f.text_field :quantity, :class => "form-control post-number-input" %> people
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  for 
                </div>
                <div class="col-md-9">
                  <div class="col-md-12">
                    <%= f.text_field :service, :class => "form-control", :id => "service" %>
                  </div>
                  <div class="col-md-12">
                    <%= f.check_box :free, :id => "free-checkbox" %>
                    <%= f.label "Free" %>
                  </div>
                </div>
              </div>  
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" for="category">Category</label>
            <div class="col-md-8">
              <%= f.select(:category, [["Business", "Business"], ["Education", "Education"], ["Lifestyle", "Lifestyle"], ["Social Impact", "Social Impact"]], {}, {:class => "form-control"}) %>        
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="image">Image</label>
            <div class="col-md-8">
              <%= f.file_field :image %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="description">Description</label>
            <div class="col-md-8">
              <%= f.text_area :description, :class=> "form-control", :rows => "5" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="tag_list">Tags</label>
            <div class="col-md-8">
              <%= f.text_field :tag_list, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="location">Location</label>
            <div class="col-md-8">
              <%= f.text_field :location, :class => "form-control", id: "autocomplete", placeholder: "Enter city" %><br />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-11 text-right">
              <%= f.submit "Submit", :class => "btn btn-success btn-lg" %>      
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>

<script type="text/javascript">
  var autocomplete;

  function initialize() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),{ types: ['(regions)'] }
    );
  }

  $('#post_title').on('blur', function() {
    judge.validate(document.getElementById('post_title'), {
      valid: function(element) {
        element.style.border = '1px solid #98b709';
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        alert(messages.join(','));
      }
    });
  });

  $("#free-checkbox").click( function() {
    if( $(this).is(':checked') ) {
      $('#service').attr("disabled", "disabled");
    } else {
      $('#service').removeAttr("disabled");
    }
  });

</script>