<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script type="text/javascript"> // load initialize() from googlemap.js
  window.onload = function() { 
   initialize(); 
} 
</script>

<div class="well well-sm post-form">
  <fieldset>
    <legend class="text-center"><%= current_user.name %>'s Fund</legend>
    <%= form_for @post, :builder => Judge::FormBuilder, html: { multipart: true, :class => "form-horizontal" } do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="form-group">
          <div class="col-md-8 col-md-offset-3">
            <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
          </div>
          <div class="col-md-8 col-md-offset-3">
            <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <label class="col-md-3 control-label" for="title">Title</label>
        <div class="col-md-8" id="post-title">   
          I am giving &nbsp;
          $<%= f.text_field :price, :class => "form-control post-number-input", :validate => true %>
          <span id="post-price-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
          <span id="post-price-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>    
           &nbsp; to &nbsp;
          <%= f.text_field :quantity, :class => "form-control post-number-input", :validate => true %>
          <span id="post-quantity-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
          <span id="post-quantity-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span> 
           &nbsp; people <br />
           who want to <br />
          <%= f.text_field :criteria, :class => "form-control", :validate => true %>
          <span id="post-criteria-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
          <span id="post-criteria-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>  
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="category">Category</label>
        <div class="col-md-7">
          <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {include_blank: true, :validate => true}, {:class => "form-control"}) %>    
        </div>
        <div class="col-md-1">
          <span id="post-category-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
          <span id="post-category-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="subcategory">Subcategory</label>
        <div class="col-md-7">
          <%= f.grouped_collection_select(:subcategory_id, Category.order(:name), :subcategories, :name, :id, :name, {include_blank: true, :validate => true} , {:class => "form-control"}) %>     
        </div>
        <div class="col-md-1">
          <span id="post-subcategory-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
          <span id="post-subcategory-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="image">Image</label>
        <div class="col-md-7">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" id="post-image-upload" style="width: 200px; height: 150px;">
              <img data-src="holder.js/100%x100%" alt="<% if @post.image.size == nil %>Preview<% end %>">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">Select image</span>
              <span class="fileinput-exists">Change</span>
              <%= f.file_field :image %>
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="description">Description</label>
        <div class="col-md-8"> 
          <div class="col-md-12">
            <%= f.bootsy_area :description, :class=> "form-control", :id => "post_description", :rows => "5", :validate => true, editor_options: {color: false} %>
          </div>
          <div class="col-md-12">
            <span id="post-description-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="post-description-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
          </div>   
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="service">Request service in return (optional)</label>
        <div class="col-md-8">
          <div class="col-md-12">
            <%= f.text_field :service, :class => "form-control", :id => "service" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="tag_list">Tags</label>
        <div class="col-md-8">
          <div class="col-md-12">
            <%= f.text_field :tag_list, :class=> "form-control", :validate => true, placeholder: "Put on some tags - separated with commas" %>
          </div>
          <div class="col-md-12">
            <span id="post-taglist-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="post-taglist-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>  
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="location">Location</label>
        <div class="col-md-8">
          <div class="col-md-12">
            <div class="inner-addon">
              <% if @post.new_record? %>
                <span id="location-remove" style="display:none;"></span>
                <%= f.text_field :location, :class=> "form-control", :validate => true, :id => "autocomplete", placeholder: "Enter City" %>
              <% else %>
                <% if @post.place_id %>
                  <span id="location-remove"><%= @post.location %><a>x</a></span>
                 <%= f.text_field :location, :class=> "form-control", :validate => true, :id => "autocomplete", :disabled => true, :value => ''%>
                <% else %>
                  <span id="location-remove" style="display:none;"></span>
                 <%= f.text_field :location, :class=> "form-control", :validate => true, :id => "autocomplete", placeholder: "Enter City", :value => ''%>
                <% end %>
              <% end %>
          </div>
          <%= f.hidden_field :google_api_place_id %>
          </div>
          <div class="col-md-12">
            <span id="post-location-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="post-location-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-11 text-right">
          <%= f.submit "Submit", :class => "btn btn-fw btn-lg" %>      
        </div>
      </div>
    <% end %>
  </fieldset>
</div>
<style>
#location-remove {
  color: #FFFFFF;
  background-color: #8AA508;
  border-color: #99B709;
  border-radius: 4px;
  top:4px;
  position: absolute;
  padding: 5px;
  left:10px;
  height:80%;
}

#location-remove a {
  margin-left:10px;
  color: #FFFFFF;
  cursor:pointer;
  text-decoration: none;
}

.inner-addon { 
    position: relative; 
}

.form-control[disabled] {
  background-color: #fff;
}

</style>

<script type="text/javascript">
  var autocomplete;

  function initialize() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),{ types: ['(regions)'] }
    );
   
    // When the user selects an address from the dropdown, disable the field and add place_id
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      $('#post_google_api_place_id').val(autocomplete.getPlace().place_id);
      disable_location_input();
    });
  }

  function disable_location_input() {
    document.getElementById('autocomplete').disabled = true;
    $('#location-remove').html($('#autocomplete').val() + "<a>x</a>");
    $('#autocomplete').val('');
    $('#location-remove').show();
    $('#autocomplete').attr('placeholder','');
  }

  $(document).on('click', '#location-remove a', function() {
    $('#location-remove').hide();
    $('#autocomplete').attr('placeholder','Enter City');
    document.getElementById('autocomplete').disabled = false;
    $('#post-location-ok').hide();
    $('#post_google_api_place_id').val('');
  });

  /* validation for post description */
  $('#post_description').on('blur', function() {
    judge.validate(document.getElementById('post_description'), {
      valid: function(element) {
        $('#post-description-ok').show();
        $('#post-description-nogood').hide();
        $('#post-description-error-message').hide();
      },
      invalid: function(element, messages) {
        $('#post-description-nogood').show();
        $('#post-description-ok').hide();

        beforeDivNoGood = document.getElementById("post-description-nogood");
        appendedDivNoGood = document.createElement("span");
        appendedDivNoGood.id = "post-description-error-message";
        appendedDivNoGood.className = "validation-failed";
        appendedDivNoGood.innerHTML = " " + messages.join(',');
        insertAfter(beforeDivNoGood, appendedDivNoGood);
      }
    });
  });

  $('#post_description').on('focus', function() {
    $('#post-description-ok').hide();
    $('#post-description-nogood').hide();
    $('#post-description-error-message').hide();
  });

  /* validation for post criteria */
  $('#post_criteria').on('blur', function() {
    judge.validate(document.getElementById('post_criteria'), {
      valid: function(element) {
        $('#post-criteria-ok').show();
        $('#post-criteria-nogood').hide();
        $('#post-criteria-error-message').hide();
      },
      invalid: function(element, messages) {
        $('#post-criteria-nogood').show();
        $('#post-criteria-ok').hide();

        beforeDivNoGood = document.getElementById("post-criteria-nogood");
        appendedDivNoGood = document.createElement("span");
        appendedDivNoGood.id = "post-criteria-error-message";
        appendedDivNoGood.className = "validation-failed";
        appendedDivNoGood.innerHTML = " " + messages.join(',');
        insertAfter(beforeDivNoGood, appendedDivNoGood);
      }
    });
  });

  $('#post_criteria').on('focus', function() {
    $('#post-criteria-ok').hide();
    $('#post-criteria-nogood').hide();
    $('#post-criteria-error-message').hide();
  });

  /* validation for post tag_list */
  $('#post_tag_list').on('blur', function() {
    judge.validate(document.getElementById('post_tag_list'), {
      valid: function(element) {
        beforeDiv = document.getElementById("post_tag_list").parentNode;
        $('#post-taglist-ok').show();
        $('#post-taglist-nogood').hide();
        $('#post-taglist-error-message').hide();
      },
      invalid: function(element, messages) {
        $('#post-taglist-nogood').show();
        $('#post-taglist-ok').hide();

        beforeDiv = document.getElementById("post-taglist-nogood");
        appendedDivNoGood = document.createElement("span");
        appendedDivNoGood.id = "post-taglist-error-message";
        appendedDivNoGood.className = "validation-failed";
        appendedDivNoGood.innerHTML = " " + messages.join(',');
        insertAfter(beforeDiv, appendedDivNoGood);
      }
    });
  });

  $('#post_tag_list').on('focus', function() {
    $('#post-taglist-ok').hide();
    $('#post-taglist-nogood').hide();
    $('#post-taglist-error-message').hide();
  });

  /* validation for post location */
  $('#autocomplete').on('blur', function() {
    judge.validate(document.getElementById('autocomplete'), {
      valid: function(element) {
        beforeDiv = document.getElementById("autocomplete").parentNode;
        $('#post-location-ok').show();
        $('#post-location-nogood').hide();
        $('#post-location-error-message').hide();
      },
      invalid: function(element, messages) {
        $('#post-location-nogood').show();
        $('#post-location-ok').hide();

        beforeDiv = document.getElementById("post-location-nogood");
        appendedDivNoGood = document.createElement("span");
        appendedDivNoGood.id = "post-location-error-message";
        appendedDivNoGood.className = "validation-failed";
        appendedDivNoGood.innerHTML = " " + messages.join(',');
        insertAfter(beforeDiv, appendedDivNoGood);
      }
    });
  });

  $('#autocomplete').on('focus', function() {
    $('#post-location-ok').hide();
    $('#post-location-nogood').hide();
    $('#post-location-error-message').hide();
  });

  /* validation for post price */
  $('#post_price').on('blur', function() {
    judge.validate(document.getElementById('post_price'), {
      valid: function(element) {
        beforeDiv = document.getElementById("post_price").parentNode;
        $('#post-price-ok').show();
        $('#post-price-nogood').hide();
      },
      invalid: function(element, messages) {
        $('#post-price-nogood').show();
        $('#post-price-ok').hide();
      }
    });
  });

  $('#post_price').on('focus', function() {
    $('#post-price-ok').hide();
    $('#post-price-nogood').hide();
  });

  /* validation for post category */
  $('#post_category_id').on('blur', function() {
    judge.validate(document.getElementById('post_category_id'), {
      valid: function(element) {
        $('#post-category-ok').show();
        $('#post-category-nogood').hide();
      },
      invalid: function(element, messages) {
        $('#post-category-nogood').show();
        $('#post-category-ok').hide();
      }
    });
  });

  $('#post_category_id').on('focus', function() {
    $('#post-category-ok').hide();
    $('#post-category-nogood').hide();
    $('#post-subcategory-ok').hide();
    $('#post-subcategory-nogood').hide();
  });

  /* validation for post subcategory */
  $('#post_subcategory_id').on('blur', function() {
    judge.validate(document.getElementById('post_subcategory_id'), {
      valid: function(element) {
        $('#post-subcategory-ok').show();
        $('#post-subcategory-nogood').hide();
      },
      invalid: function(element, messages) {
        $('#post-subcategory-nogood').show();
        $('#post-subcategory-ok').hide();
      }
    });
  });

  $('#post_subcategory_id').on('focus', function() {
    $('#post-subcategory-ok').hide();
    $('#post-subcategory-nogood').hide();
  });

  /* validation for post price */
  $('#post_quantity').on('blur', function() {
    judge.validate(document.getElementById('post_quantity'), {
      valid: function(element) {
        beforeDiv = document.getElementById("post_quantity").parentNode;
        $('#post-quantity-ok').show();
        $('#post-quantity-nogood').hide();
      },
      invalid: function(element, messages) {
        $('#post-quantity-nogood').show();
        $('#post-quantity-ok').hide();
      }
    });
  });

  $('#post_quantity').on('focus', function() {
    $('#post-quantity-ok').hide();
    $('#post-quantity-nogood').hide();
  });

</script>

<style>
#post-image-upload {
  background-image: url(<%= @post.image.url(:medium) %>);
}
</style>