<% if current_user && @post.user != current_user %>
  <% if current_user.following? @post.user %>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 subscribe-block">
      <%= form_for @relationship, method: :delete do |f| %>
        <%= f.submit "Unfollow This Funder", :class => "btn-large btn-block unsubscribe" %>
      <% end %>
    </div>
  <% else %>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 subscribe-block">
      <%= form_for @relationship do |f| %>
        <%= f.hidden_field :followed_id, value: @post.user.id %>
        <%= f.submit "Follow This Funder", :class => "btn-danger btn-block btn-subscribe"%>
      <% end %>
    </div>
  <% end %>
<% elsif !current_user %>
  <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 subscribe-block">
    <%= link_to "#myModal", :data => {:toggle=>"modal"}, :class => "btn btn-danger btn-block btn-subscribe" do %>
      <div class="text-center" id="sign-in-follow">
        Sign in<br /><small>to Follow This Funder</small>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12" id="funder-profile">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 funder-profile-item">
      <h2 class="decoration text-center"><span class="funder-section-title nobgr">Funder</span></h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 funder-profile-item">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-4">
          <%= link_to image_tag(@post.user.user_info.avatar.url(:thumb), size: "70x70", :class => "img-circle author-thumbnail"), @post.user, :class => "media-object" %>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-8 funder-name-and-social">
          <h4 class="funder-name"><%= link_to @post.user.name.upcase, @post.user %></h4>
          <% if @post.user.user_info %>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 funder-profile-item funder-social-icon">
              <% if (@post.user.user_info.website != nil && @post.user.user_info.website != '') %>
                <%= link_to "<i class='fa fa-home fw-main-color'></i>".html_safe, 'http://' + @post.user.user_info.website, :target => '_blank' %>
              <% end %>
              <% if (@post.user.user_info.linkedin != nil && @post.user.user_info.linkedin != '') %>
                <%= link_to "<i class='fa fa-linkedin-square fw-main-color'></i>".html_safe, 'http://' + @post.user.user_info.linkedin, :target => '_blank' %>
              <% end %>
              <% if (@post.user.user_info.twitter != nil && @post.user.user_info.twitter != '') %>
                <%= link_to "<i class='fa fa-twitter-square fw-main-color'></i>".html_safe, 'http://twitter.com/' + @post.user.user_info.twitter, :target => '_blank' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 funder-profile-item">
      <% if @user_info && @user_info.biography != "" %>
        <%= @user_info.biography %>
      <% end %>
    </div>
  </div>
</div>
