<div id="posts-container<% if user_posts %><%= "-user" %><% end %>" >
  <div class="row text-center" id="<% if user_posts %><%= "user" %><% else %><%= "my" %><% end %>-posts">
		<% @posts.each_with_index do |post,index| %>
		  <% if @post_type %>
				<% if @post_type[index] == 'r' %>
			    <%= content_tag(:div, :class => "portfolio-listing all nearby") do %>
						<%= render :partial => "posts/post", :locals => {:post => post} %>
					<% end %>
				<% elsif @post_type[index] == 'f' %>
			    <%= content_tag(:div, :class => "portfolio-listing all followed") do %>
						<%= render :partial => "posts/post", :locals => {:post => post} %>
			    <% end %> 
				<% else%>
			    <%= content_tag(:div, :class => "portfolio-listing all") do %>
						<%= render :partial => "posts/post", :locals => {:post => post} %>
			    <% end %>
				<% end %>
		  <% else %>
	 			<%= content_tag(:div, :class => "portfolio-listing all") do %>
	 		    <%= render :partial => "posts/post", :locals => {:post => post} %>
				<% end %>
		  <% end %>
	 	<% end %>
	</div>
 
  <% if @next_page.nil? %>
 		<% @next_page = @posts.next_page %>
  <% end %>
 
  <% if @next_page %>
		<div id="load_more_posts<% if user_posts %><%= "_user" %><% end %>" class="btn btn-default btn-lg" style ="display:block; width: 95%;">More Funds</div>
  <% else %>
		<div id="load_more_posts<% if user_posts %><%= "_user" %><% end %>" class="btn btn-default btn-lg" style ="display:none;">More Funds</div>
  <% end %>  
</div>

<script>
  var loading_posts = false;
  var category,subcategory,page,tag,locationn,user_id,page;
  page = 1;

  <% unless @category.nil? %>
    category = "<%= @category %>";
    $("#all").removeClass('current');
    $("#<%= @category.split.join %>").addClass('current');
  <% end %>

  <% unless @subcategory.nil? %>
    subcategory = "<%= @subcategory %>";
  <% end %>

  <% unless @location.nil? %>
    locationn = "<%= @location %>";
  <% end %>

  <% unless @tag.nil? %>
    tag = "<%= @tag %>";
  <% end %>

  <% unless @user.nil? %>
	user_id = <%= @user.id %>
  <% end %>

  $("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").click(function() {
		if(!loading_posts) {
	    loading_posts = true;
	    $(this).html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />').addClass('disabled');

	    var data = "page="+(page+1);
	    if(category) data += "&category="+category;
	    if(subcategory) data += "&subcategory="+subcategory;
	    if(user_id) data += "&id="+user_id;
	    if(tag) data += "&tag="+tag;
	    if(locationn) data += "&location="+locationn;

	    $.ajax({
				url: "<%= url_to_get_posts %>",
				type: 'POST',
				data: data,
				beforeSend: function(xhr, settings) {
				  xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
				},
				success: function(data) {
				  page += 1;
				  loading_posts = false;
				  if ($("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").length) {
						$("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").html('More Funds').removeClass('disabled');
		    	}
				}
	    });
		}
  });
</script>