    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hero-feature listing-big text-center">
      <div class="thumbnail listing-item">
        <div class="post-source-followed-outer">     
          <span class="post-source-followed pull-right">followed</span>
        </div>
        <div class="post-source-nearby-outer">
          <span class="post-source-nearby pull-right">nearby</span>
        </div>
        <% if (current_user && current_user == post.user) && current_page?(user_path(:id => post.user.id)) %>
          <div class="index-edit-post-hover-outer">
            <span class="index-edit-post-hover">
              <%= link_to edit_post_path(post), :class => "btn btn-default" do %>
                <i class="fa fa-pencil"></i>&nbsp;Edit
              <% end %>
            </span>
          </div>  
        <% end %>
        <% if post.image_file_size != '' && post.image_file_size != nil %>              
          <%= link_to (image_tag(post.image.url(:medium), :class => "thumbnail-size")), post %>
        <% else %>
          <%= link_to (image_tag(post_placeholder_image(post.category), :class => "thumbnail-size")), post %>
        <% end %>
        <hr class="reduced-margin-top">
        <div class="folder">
          <h4 class="text-center">
            <%= link_to sanitize(post.title.truncate(65)), post %>
          </h4>
        </div>

        <hr class="content-divider">

        <div class="brief-desc">
          <div class="media author-info">
            <div class="pull-left">
              <%= link_to image_tag(post.user.user_info.avatar.url(:medium), size: "70x70", :class => "img-circle author-thumbnail"), post.user, :class => "media-object" %>
          </div>
          <div class="media-body align-left">
            <p class="media-heading brief-desc-text">
              <%= link_to sanitize(post.description.truncate(95)), post, :class => "desc-link" %>
            </p>
          </div>
          
        </div>

        <div class="author"><%= link_to post.user.name, post.user, :class => "user-info user-info-hover", data:{ content: "<div class='row'>
                      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
                        <img src=#{post.user.user_info.avatar.url(:thumb)} width=50 class='img-circle user-info-hover-avatar'>
                      </div>
                      <div class='col-lg-9 col-md-9 col-sm-9 col-xs-9'>
                        <span class='user-info-hover-name'>#{post.user.name}</span><br />
                        <span class='user-info-hover-content'>
                          #{pluralize(post.user.kudos, 'Kudo')}<br />
                          #{pluralize(post.user.contributions.ceil, 'Karma')}<br />
                          #{pluralize(post.user.posts.size, 'Fund')}
                        </span>
                      </div>
                    </div>"} %>
        </div>
        <div class="clear"></div>

      </div>
        
      <div class="modal-footer">
        <div class="progress progress-striped pb-space">
          <div class="progress-bar pb" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= post.percentage_claimed %>%;">      
          </div>
        </div>
        <div class="row funding-metrics">
          <div class="col-md-4 col-xs-4 funding-metrics-cell text-center">
            <span class="funding-metrics-number"><%= number_to_percentage(post.percentage_claimed, precision: 0) %></span><br/>
            <small class="funding-metrics-text">CLAIMED</small>
          </div>
          <div class="col-md-4 col-xs-4 funding-metrics-cell-middle text-center">
            <span class="funding-metrics-number">$<%= number_with_precision(post.total, :precision => 2) %></span><br/>
            <small class="funding-metrics-text">AVAILABLE</small>
          </div>
          <div class="col-md-4 col-xs-4 funding-metrics-cell text-center">
            <span class="funding-metrics-number"><%= post.bets_past_selection.count %></span><br/>
            <small class="funding-metrics-text">
              <% if post.bets_past_selection.count <= 1 %>
                RECEIVER
              <% else %>
                RECEIVERS
              <% end %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $('.user-info-hover').each(function () {
    var $elem = $(this);
    $elem.popover({
      placement: 'auto',
      trigger: 'hover',
      html: true,
      container: $elem,
      animation: true,
    });
  });
</script>  