<div id="posts-container<% if user_posts %><%= "-user" %><% end %>" >
  <div class="row text-center" id="<% if user_posts %><%= "user" %><% else %><%= "my" %><% end %>-posts">
		<% @posts.each do |post| %>
			<% if post["followed_post"] == false %>
		    <%= content_tag(:div, :class => "portfolio-listing all nearby") do %>
					<%= render :partial => "posts/post", :locals => {:post => post} %>
				<% end %>
			<% elsif post["followed_post"] == true %>
		    <%= content_tag(:div, :class => "portfolio-listing all followed") do %>
					<%= render :partial => "posts/post", :locals => {:post => post} %>
		    <% end %> 
			<% else%>
		    <%= content_tag(:div, :class => "portfolio-listing all") do %>
					<%= render :partial => "posts/post", :locals => {:post => post} %>
		    <% end %>
			<% end %>
	 	<% end %>
	</div>
 
  <% if @next_page.nil? %>
 		<% @next_page = @posts.next_page %>
  <% end %>
 
  <% if @next_page %>
		<div id="load_more_posts<% if user_posts %><%= "_user" %><% end %>" class="btn btn-default btn-lg" style ="display:block; width: 95%;">More Funds</div>
  <% else %>
		<div id="load_more_posts<% if user_posts %><%= "_user" %><% end %>" class="btn btn-default btn-lg" style ="display:none;">More Funds</div>
  <% end %>  
</div>

<script>
  var loading_posts = true;
  var category,subcategory,page,tag,locationn,user_identifier,page,search;
  category = subcategory = tag = locationn = user_identifier = search = null;
  page = 1;

  <% unless @category.nil? %>
    category = "<%= @category %>";
    $("#all").removeClass('current');
    $("#<%= @category.split.join %>").addClass('current');
  <% end %>

  <% unless @subcategory.nil? %>
    subcategory = "<%= @subcategory %>";
  <% end %>

  <% unless @location.nil? %>
    locationn = "<%= @location %>";
  <% end %>

  <% unless @tag.nil? %>
    tag = "<%= @tag %>";
  <% end %>

  <% unless @search.nil? %>
    search = "<%= @search %>";
  <% end %>

  <% unless @user.nil? %>
	user_identifier = "<%= @user.identifier %>";
  <% end %>

  $(document).ready(function() {
  	loading_posts = false;
  });

  $("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").click(function() {
		if(!loading_posts) {
	    loading_posts = true;
	    $(this).html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />').addClass('disabled');

	    var data = "page="+(page+1);
	    if(category) data += "&category="+category;
	    if(subcategory) data += "&subcategory="+subcategory;
	    if(user_identifier) data += "&identifier="+user_identifier;
	    if(tag) data += "&tag="+tag;
	    if(locationn) data += "&location="+locationn;
      if(search) data += "&search="+search;

	    $.ajax({
				url: "<%= url_to_get_posts %>",
				type: 'POST',
				data: data,
				beforeSend: function(xhr, settings) {
				  xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
				},
				success: function(data) {
				  page += 1;
				  loading_posts = false;
				  if ($("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").length) {
						$("#load_more_posts<% if user_posts %><%= "_user" %><% end %>").html('More Funds').removeClass('disabled');
		    	}
				}
	    });
		}
  });
</script>