<div class="row" id="social-share-panel">
  <div class="pull-left" id="post-tags">
    <i class="fa fa-tags"></i>
    <span><%= raw @post.tag_list.map { |t| link_to t.downcase, tag_path(t.downcase) }.join(', ') %></span>
  </div>
  <div class="pull-right">
    <ul id="social-share-icons">
      <li><a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_face.png" %></a></li>
      <li><a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_g.png" %></a></li>
      <li><a href="http://twitter.com/share?url=<%= request.original_url %>&text=<%= @post.title %>" target="_blank"><%= image_tag "social/icon_header_tw.png" %></a></li>
      <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><%= image_tag "social/icon_header_p.png" %></a></li>
    </ul>
  </div>
</div>