<!-- /.panel -->
<div class="panel panel-default" id="fw-panel">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i>Fund Applications
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <ul class="timeline">
      <br />
      <li>
        <div class="timeline-panel">
          <% if user_signed_in? %>
            <% if !@current_user_bet.empty? %>
              Great job - you've submitted your application!
            <% elsif @post.user == current_user %>
              Kudos to you, <%= current_user.name %>!
            <% else %>
              <h4>Submit Your Application:</h4>
              <%= form_for([@post, @bet]) do |f| %>
                <div class="form-group">
                  <%= f.text_area :body, :class => 'form-control', :id => "fund-application", :value => "", :rows => '5', :cols => "30", :maxlength =>"200", :onkeyup => "limitTextCount('fund-application', 'fund-application-char-count', 200);", :onkeydown => "limitTextCount('fund-application', 'fund-application-char-count', 200);" %>
                  
                  <div id="fund-application-char-count">200 charachters to go</div><br />

                  <%= f.submit "Apply for Fund", :class => "btn btn-primary btn-apply-fund" %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div>
              <p>Please log in to claim this fund</p>
            </div>
          <% end %>
        </div>
      </li>
      <% @bets.each do |bet| %>
        <li class="<%= cycle("timeline-inverted", "") %>" >
          <% if bet.open? %>
            <div class="timeline-badge">
              <i class="fa fa-flag"></i>
            </div>
          <% elsif bet.selected? %>
            <div class="timeline-badge info">
              <i class="fa fa-check"></i>
             </div>
          <% elsif bet.submitted? %>
            <div class="timeline-badge success">
              <i class="fa fa-thumbs-up"></i>
             </div>
          <% elsif bet.funded? %>
            <div class="timeline-badge success">
              <i class="fa fa-thumbs-up"></i>
             </div>
          <% end %>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
              <p>
                <small class="text-muted"><i class="fa fa-time"></i><%= reformatted_post_datetime(bet.created_at) %></small>
              </p>
            </div>
            <div class="timeline-body">
              <!-- bet snippet begins; todo: refractor later-->
              <p><%= bet.body %></p>
              <% if bet.open? %>
                <% if @post.user == current_user %>
                  <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-fw pull-right" do %>
                    Select
                  <% end %>
                <% end %>
              <% end %>
              <% bet.replies.each do |reply| %>
                <hr>
                <p>
                  <small class="text-muted"><i class="fa fa-time"></i><%= reformatted_post_datetime(reply.created_at) %></small>
                </p>
                <p>
                  <%= reply.body %><br />
                  <% if reply.proofs.any? %>
                    <% reply.proofs.each do |proof| %>
                      <%= link_to proof.document_file_name, proof.document.url %>
                    <% end %>
                  <% end %>
                </p>
              <% end %>
              <% if bet.selected? %>
                <% if (bet.user == current_user) or (bet.post.user == current_user) %>
                  <hr>
                  <%= form_for @reply, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
                    <%= f.hidden_field :bet_id, value: bet.id %>
                    <%= f.text_area :body, :class => 'form-control' %><br />
                    <%= file_field_tag "documents[]", type: :file, multiple: true %><br />
                    <%= f.submit :class => "btn btn-fw" %>
                  <% end %>
                <% end %>
              <% end %>
              <!-- bet snippet ends -->
            </div><!-- end of timeline-body -->
          </div>
        </li>
      <% end %><!-- bet loop ends -->
    </ul>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->  

<script>
  function limitTextCount(limitField_id, limitCount_id, limitNum) {
    var limitField = document.getElementById(limitField_id);
    var limitCount = document.getElementById(limitCount_id);
    var fieldLEN = limitField.value.length;

    if (fieldLEN > limitNum)
    {
      limitField.value = limitField.value.substring(0, limitNum);
    }
    else
    {
      if ((limitNum - fieldLEN) > 1) {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' characters to go';
      } else {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' character to go';
      }
    }
  }
</script>