<!-- /.panel -->
<div class="panel panel-default" id="fw-panel">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i>Fund Applications
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <ul class="timeline">
      <br />
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <% if user_signed_in? %>
              <% if @current_user_bet %>
                Great job - you've submitted your application!
              <% elsif @post.user == current_user %>
                Kudos to you, <%= current_user.name %>!
              <% else %>
                <h4>Submit Your Application:</h4>
                <%= form_for([@post, @bet], :html => {multipart: true}) do |f| %>
                  <div class="form-group">
                    <%= f.text_area :body, :class => 'form-control', :id => "fund-application", :value => "", :placeholder => "Briefly state why you are suitable for the fund.", :maxlength =>"200", :onkeyup => "limitTextCount('fund-application', 'fund-application-char-count', 200);", :onkeydown => "limitTextCount('fund-application', 'fund-application-char-count', 200);" %>
                    
                    <div id="fund-application-char-count">200 charachters to go</div><br />
                    <div class="fileinput fileinput-new application-reply" data-provides="fileinput">
                      <div class="col-md-8 col-sm-8 col-xs-8 pull-left application-reply-file-upload">   
                        <span class="btn btn-default btn-file btn-reply-file">
                          <%= file_field_tag "documents[]", type: :file, multiple: true %>
                          <span class="fileinput-new"><i class="fa fa-paperclip"></i>&nbsp;Attach</span>
                          <span class="fileinput-exists"><i class="fa fa-paperclip"></i>&nbsp;Change</span>
                        </span>
                        <%= link_to '#', :class => "tip-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only you and the funder can see the attachment.</span>"} do %>
                          <i class="fa fa-lightbulb-o"></i>
                        <% end %>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 application-reply-send">
                        <%= f.submit "Apply", :class => "btn btn-fw btn-reply-submit pull-right" %>
                      </div>
                      <div class="clear"></div>
                      <div class="col-md-12 application-reply-show-filename">
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> 
                        <span class="fileinput-filename"></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div>
                <p>Please 
                  <%= link_to "log in", "#myModal", :data => {:toggle=>"modal"} %>
                  to claim this fund
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </li>
      <% @bets.each do |bet| %>
        <li class="<%= cycle("timeline-inverted", "") %> bet-beginning" id="<%= dom_id(bet) %>">
          <% if bet.open? %>
            <div class="timeline-badge open">
              <i class="fa fa-paper-plane"></i>
            </div>
          <% elsif bet.selected? %>
            <div class="timeline-badge info">
              <i class="fa fa-star"></i>
             </div>
          <% elsif bet.submitted? %>
            <div class="timeline-badge success">
              <i class="glyphicon glyphicon-ok"></i>
             </div>
          <% elsif bet.awaiting_modification? %>
            <div class="timeline-badge success">
              <i class="fa fa-eraser"></i>
             </div>
          <% elsif bet.modified? %>
            <div class="timeline-badge success">
              <i class="fa fa-eraser"></i>
             </div>
          <% elsif bet.funded? or bet.credited? %>
            <div class="timeline-badge success">
              <i class="glyphicon glyphicon-ok"></i>
             </div>
          <% end %>
          <div class="timeline-panel">
            <div class="timeline-body">
              <div class="timeline-heading row">
                <div class="col-md-3">
                  <%= link_to image_tag(bet.user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail pull-left"), bet.user, :class => "media-object" %>
                </div>
                <div class="col-md-9">
                  <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
                  <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(bet.created_at) %></small>
                </div>
              </div>
            
              <!-- bet snippet begins; todo: refractor later-->
              <%= bet.body %>
              <% if bet.proofs.any? %>
                <div>
                  <% bet.proofs.each do |proof| %>
                    <% if @post.user == current_user or bet.user == current_user %>
                      <%= link_to proof.document.url do %>
                        <small>
                          <i class="fa fa-paperclip"></i>&nbsp;<%= proof.document_file_name %>
                        </small>
                      <% end %>
                    <% else %>
                      <%= link_to '#', :class => "hidden-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only the funder and the applicant can see the attachment.</span>"} do %>
                        <i class="fa fa-paperclip"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
              
            <% bet.replies.order("created_at").each_with_index do |reply, index| %>
              <% if (index +1)== bet.replies.count %>
                <div class="timeline-body">
              <% else %>
                <div class="timeline-body timeline-body-reply">
              <% end %>
                <% if !(bet.replies[index - 1].modification_request) %>
                  <hr class='reply-divider'>
                <% end %>
                <div id="<%= dom_id(reply) %>">
                  <div class="timeline-heading row">
                    <div class="col-md-3">
                      <%= link_to image_tag(reply.user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail pull-left"), reply.user, :class => "media-object" %>
                    </div>
                    <div class="col-md-9">
                      <h4 class="timeline-title"><%= link_to reply.user.name, reply.user %></h4>
                      <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(reply.created_at) %></small>
                    </div>
                  </div>
                  <div>
                    <%= reply.body %><br />
                    <% if reply.proofs.any? %>
                      <% reply.proofs.each do |proof| %>
                        <% if @post.user == current_user or bet.user == current_user %>
                          <%= link_to proof.document.url do %>
                            <small>
                              <i class="fa fa-paperclip"></i>&nbsp;<%= proof.document_file_name %>
                            </small>
                          <% end %>
                        <% else %>
                          <%= link_to '#', :class => "hidden-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only the funder and the applicant can see the attachment.</span>"} do %>
                            <i class="fa fa-paperclip"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div><!-- end of timeline-body -->

              <% if reply.modification_request %>
                <br />
                <div class="modification-block">
                  <%= @post.user.name %>: 
                  <%= reply.modification_request.body %><br />
                  <span class="modification-request-time pull-right">
                    <%= reformatted_post_datetime(reply.modification_request.created_at) %>
                  </span>
                </div>
              <% end %>
            <% end %><!-- reply loop ends -->
        
            <% if bet.submitted? %>
              <br />
              <div class="panel-middle">
                  The application has been completed!
                <% if @post.user == current_user %>
                  <br />  
                  <span class="request-modification">request modification</span>
                  <div class="clear"></div>
                  <%= form_for @modification_request, :html => { :class => 'form-horizontal modification-form' } do |f| %>
                    <%= f.hidden_field :bet_id, value: bet.id %>
                    <%= f.hidden_field :reply_id, value: bet.replies.last.id %>
                    <%= f.text_area :body, :class => 'form-control' %><br />
                    <%= f.submit "Send", :class => "btn btn-default pull-right request-modification-send" %>
                    <div class="clear"></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
                      
            <% if ((bet.selected? or bet.awaiting_modification?) or bet.modified?) or bet.submitted? %>
              <% if (bet.user == current_user) or (bet.post.user == current_user) %>               
                <div class="timeline-body">
                  <% if (!bet.submitted?) && (!bet.awaiting_modification?) %>
                    <hr class="reply-divider">
                  <% end %>
                  <%= form_for @reply, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
                    <%= f.hidden_field :bet_id, value: bet.id %>
                    <% if bet.user == current_user %>
                      <% if bet.submitted? %>
                        <%= f.text_area :body, :class => 'form-control reply-animation', :rows => "3", :placeholder => "Any follow-up news for the funder? Share it here!" %><br />
                      <% else %>
                        <%= f.text_area :body, :class => 'form-control reply-animation', :rows => "3", :placeholder => "Any update or question for the funder? Submit it here!" %><br />
                      <% end %>
                    <% else %>
                      <% if bet.submitted? %>
                        <%= f.text_area :body, :class => 'form-control reply-animation', :rows => "3", :placeholder => "Any follow-up news for the applicant? Share it here!" %><br />
                      <% else %>
                        <%= f.text_area :body, :class => 'form-control reply-animation', :rows => "3", :placeholder => "Any instructions for the applicant? Submit it here!" %><br />
                      <% end %>
                    <% end %>
                    <div class="fileinput fileinput-new application-reply" data-provides="fileinput">
                      <div class="col-md-8 col-sm-8 col-xs-8 pull-left application-reply-file-upload">   
                        <span class="btn btn-default btn-file btn-reply-file">
                          <%= file_field_tag "documents[]", type: :file, multiple: true %>
                          <span class="fileinput-new"><i class="fa fa-paperclip"></i>&nbsp;Attach</span>
                          <span class="fileinput-exists"><i class="fa fa-paperclip"></i>&nbsp;Change</span>
                        </span>
                        <br />
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 application-reply-send">
                        <%= f.submit "Send", :class => "btn btn-default btn-reply-submit pull-right" %>
                      </div>
                      <div class="clear"></div>
                      <div class="col-md-12 application-reply-show-filename">
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> 
                        <span class="fileinput-filename"></span>
                      </div>
                    </div>
                  <% end %><!-- form_for @reply ends -->
                </div><!-- timeline-body begins -->
              <% end %><!-- evaluation of user ends -->
            <% end %><!-- bet status evaluation ends -->
 
            <% if bet.open? %>
              <% if @post.user == current_user %>
                <div class="panel-footer">
                  <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-fw btn-block" do %>
                    Select
                  <% end %>
                </div>
              <% end %>
            <% elsif bet.selected? or bet.modified? %>
              <% if bet.user == current_user %>
                <% if bet.replies.any? { |r| r[:user_id] == bet.user.id } %>
                  <div class="panel-footer">
                    <%= button_to mark_complete_post_bet_path(@post, bet), :method => :post, :class => "btn btn-fw btn-block" do %>
                      Mark Complete
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>  
          
            <!-- bet snippet ends -->

          </div><!-- end of timeline-panel -->
        </li>
      <% end %><!-- bet loop ends -->
    </ul>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->  

<script>
  function limitTextCount(limitField_id, limitCount_id, limitNum) {
    var limitField = document.getElementById(limitField_id);
    var limitCount = document.getElementById(limitCount_id);
    var fieldLEN = limitField.value.length;

    if (fieldLEN > limitNum)
    {
      limitField.value = limitField.value.substring(0, limitNum);
    }
    else
    {
      if ((limitNum - fieldLEN) > 1) {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' characters to go';
      } else {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' character to go';
      }
    }
  }

  $('#fund-application').focus(function () {
    $(this).animate({ height: "8em" }, 200);
  });

  $('.reply-animation').focus(function () {
    bet_id = $(this).closest('.bet-beginning').attr('id');
    $('#' + bet_id + ' .reply-animation').animate({ height: "8em" }, 200);
  });

  $('.hidden-attachment').popover({trigger: 'hover'});
  $('.tip-attachment').popover({trigger: 'hover'});       

  $(".modification-form").hide();
  $('.request-modification').click(function() {
    bet_id = $(this).closest('.bet-beginning').attr('id');
    $('#' + bet_id + ' .modification-form').slideToggle();
  });

</script>