<!-- /.panel -->
<div class="panel panel-default" id="fw-panel">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i>Fund Applications
  </div>
  <div class="panel-body">
    <ul class="timeline">
      <%= render :partial => "posts/timeline_signin_or_apply" %>
      <% @bets.each do |bet| %>
        <li class="bet-beginning" id="<%= dom_id(bet) %>">
          <%= render :partial => "posts/bet_status_badge", :locals => {:bet => bet} %>
          <div class="timeline-panel">
            <div class="timeline-body">
              <%= render :partial => "posts/timeline_bet_heading", :locals => {:bet => bet} %>
              <%= render :partial => "posts/timeline_bet_body", :locals => {:bet => bet} %>
            </div>
            <%= render :partial => "posts/timeline_bet_replies", :locals => {:bet => bet} %>
            <%= render :partial => "posts/timeline_modification_request_form", :locals => {:bet => bet} %>
            <%= render :partial => "posts/timeline_reply_form", :locals => {:bet => bet} %>
            <%= render :partial => "posts/timeline_select_or_complete_button", :locals => {:bet => bet} %>          
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  function limitTextCount(limitField_id, limitCount_id, limitNum) {
    var limitField = document.getElementById(limitField_id);
    var limitCount = document.getElementById(limitCount_id);
    var fieldLEN = limitField.value.length;

    if (fieldLEN > limitNum)
    {
      limitField.value = limitField.value.substring(0, limitNum);
    }
    else
    {
      if ((limitNum - fieldLEN) > 1) {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' characters to go';
      } else {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' character to go';
      }
    }
  }

  $('#fund-application').focus(function () {
    $(this).animate({ height: "8em" }, 200);
  });

  $('.reply-animation').focus(function () {
    bet_id = $(this).closest('.bet-beginning').attr('id');
    $('#' + bet_id + ' .reply-animation').animate({ height: "8em" }, 200);
  });

  $('.hidden-attachment').popover({trigger: 'hover'});
  $('.tip-attachment').popover({trigger: 'hover'});       

  $(".modification-form").hide();
  $('.request-modification').click(function() {
    bet_id = $(this).closest('.bet-beginning').attr('id');
    $('#' + bet_id + ' .modification-form').slideToggle();
  });

</script>