<li>
  <% if user_signed_in? %>
    <% if @current_user_bet %>
      <div class="timeline-badge">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
    <% elsif @post.user == current_user %>
      <div class="timeline-badge">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
    <% else %>
      <div class="timeline-badge">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    <% end %>
  <% end %>
  <div class="timeline-panel">
    <div class="timeline-body">
      <% if user_signed_in? %>
        <% if @current_user_bet %>
          Great job - you've submitted your application!
        <% elsif @post.user == current_user %>
          Kudos to you, <%= current_user.name %>!
        <% else %>
          <div class="timeline-heading row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
              <%= link_to image_tag(current_user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail pull-left"), current_user, :class => "media-object" %>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <h4 class="timeline-title"><%= link_to current_user.name, current_user %></h4>
              <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(Time.now) %></small>
            </div>
          </div>
          <%= form_for([@post, @bet], :html => {multipart: true}) do |f| %>
            <div class="form-group" id="apply-form">
              <%= f.text_area :body, :class => 'form-control', :id => "fund-application", :value => "", :placeholder => "Interested? Briefly state why you are suitable for the fund!", :maxlength =>"200", :onkeyup => "limitTextCount('fund-application', 'fund-application-char-count', 200);", :onkeydown => "limitTextCount('fund-application', 'fund-application-char-count', 200);" %>
              <div id="fund-application-char-count">200 characters to go</div><br />
              <div class="fileinput fileinput-new application-reply" data-provides="fileinput">
                <div class="col-md-8 col-sm-8 col-xs-8 pull-left application-reply-file-upload">  
                  <span class="btn btn-default btn-file btn-reply-file">
                    <%= file_field_tag "documents[]", type: :file, multiple: true %>
                    <span class="fileinput-new"><i class="fa fa-paperclip"></i>&nbsp;Attach</span>
                    <span class="fileinput-exists"><i class="fa fa-paperclip"></i>&nbsp;Change</span>
                  </span>
                  <%= link_to '#', :class => "tip-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only you and the funder can see the attachment.</span>"} do %>
                    <i class="fa fa-lightbulb-o"></i>
                  <% end %>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 application-reply-send">
                  <%= f.submit "Apply", :class => "btn btn-fw btn-reply-submit pull-right" %>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 application-reply-show-filename">
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> 
                  <span class="fileinput-filename"></span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div>
          <p>Please 
            <%= link_to "log in", "#myModal", :data => {:toggle=>"modal"} %>
            to claim this fund
          </p>
        </div>
      <% end %>
    </div>
  </div>
</li>