<!-- /.panel -->
<div class="panel panel-default" id="fw-panel">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i>Fund Applications
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <ul class="timeline">
      <br />
      <li>
        <div class="timeline-panel">
          <% if user_signed_in? %>
            <% if !@current_user_bet.empty? %>
              Great job - you've submitted your application!
            <% elsif @post.user == current_user %>
              Kudos to you, <%= current_user.name %>!
            <% else %>
              <h4>Submit Your Application:</h4>
              <%= form_for([@post, @bet], :html => {multipart: true}) do |f| %>
                <div class="form-group">
                  <%= f.text_area :body, :class => 'form-control', :id => "fund-application", :value => "", :rows => '5', :cols => "30", :maxlength =>"200", :onkeyup => "limitTextCount('fund-application', 'fund-application-char-count', 200);", :onkeydown => "limitTextCount('fund-application', 'fund-application-char-count', 200);" %>
                  
                  <div id="fund-application-char-count">200 charachters to go</div><br />
                  <%= file_field_tag "documents[]", type: :file, multiple: true %><br />

                  <%= f.submit "Apply for Fund", :class => "btn btn-primary btn-apply-fund" %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div>
              <p>Please log in to claim this fund</p>
            </div>
          <% end %>
        </div>
      </li>
      <% @bets.each do |bet| %>
        <li class="<%= cycle("timeline-inverted", "") %>" >
          <% if bet.open? %>
            <div class="timeline-badge open">
              <i class="fa fa-paper-plane"></i>
            </div>
          <% elsif bet.selected? %>
            <div class="timeline-badge info">
              <i class="fa fa-star"></i>
             </div>
          <% elsif bet.submitted? %>
            <div class="timeline-badge success">
              <i class="glyphicon glyphicon-ok"></i>
             </div>
          <% elsif bet.awaiting_modification? %>
            <div class="timeline-badge success">
              <i class="fa fa-eraser"></i>
             </div>
          <% elsif bet.modified? %>
            <div class="timeline-badge success">
              <i class="fa fa-eraser"></i>
             </div>
          <% elsif bet.funded? %>
            <div class="timeline-badge success">
              <i class="glyphicon glyphicon-ok"></i>
             </div>
          <% end %>
          <div class="timeline-panel">
            <div class="timeline-heading row">
              <div class="col-md-3">
                <%= link_to image_tag(bet.user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail pull-left"), bet.user, :class => "media-object" %>
              </div>
              <div class="col-md-9">
                <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
                <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(bet.created_at) %></small>
              </div>
              
              
              <br />
            </div>
            <div class="timeline-body">
              <!-- bet snippet begins; todo: refractor later-->
              <p><%= bet.body %></p>
              
              <% if bet.proofs.any? %>
                <div>
                  <% bet.proofs.each do |proof| %>
                    <% if @post.user == current_user or bet.user == current_user %>
                      <%= link_to proof.document.url do %>
                        <small>
                          <i class="fa fa-paperclip"></i>&nbsp;<%= proof.document_file_name %>
                        </small>
                      <% end %>
                    <% else %>
                      <%= link_to '#', :class => "hidden-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only the funder and the applicant can see the attachment.</span>"} do %>
                        <i class="fa fa-paperclip"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              
              <% if bet.open? %>
                <% if @post.user == current_user %>
                  <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-fw pull-right" do %>
                    Select
                  <% end %><br />
                <% end %>
              <% elsif bet.selected? or bet.modified? %>
                <% if bet.user == current_user %>
                  <% if bet.replies.any? { |r| r[:user_id] == bet.user.id } %>
                    <%= button_to mark_complete_post_bet_path(@post, bet), :method => :post, :class => "btn btn-fw pull-right" do %>
                        Mark Complete
                    <% end %><br />
                  <% end %>
                <% end %>
              <% end %>
              
              <% bet.replies.order("created_at").each_with_index do |reply, index| %>
                <hr>
                <div id="<%= dom_id(reply) %>">
                  <div>
                    <%= link_to reply.user.name, reply.user %>
                    <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(reply.created_at) %></small>
                  </div><br />
                  <div>
                    <%= reply.body %><br />
                    <% if reply.proofs.any? %>
                      <% reply.proofs.each do |proof| %>
                        <%= link_to proof.document.url do %>
                          <small>
                            <i class="fa fa-paperclip"></i>&nbsp;<%= proof.document_file_name %>
                          </small>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if reply.modification_request %>
                      <br />
                      <div style="background: #eee; padding: 5px; font-size: 0.8em">
                        <%= @post.user.name %>: 
                        <%= reply.modification_request.body %>
                      </div>
                    <% end %>
                    <% if index == bet.replies.size - 1 %>
                      <% if !reply.modification_request %>
                        <% if @post.user == current_user %>
                          <% if !(reply.user == @post.user) %>
                            <br />
                            <span class="request-modification">request modification</span><br />
                            <%= form_for @modification_request, :html => { :class => 'form-horizontal modification-form' } do |f| %>
                              <%= f.hidden_field :reply_id, value: reply.id %>
                              <%= f.text_area :body, :class => 'form-control' %><br />
                              <%= f.submit :class => "btn btn-fw" %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if ((bet.selected? or bet.awaiting_modification?) or bet.modified?) or bet.submitted? %>
                <% if (bet.user == current_user) or (bet.post.user == current_user) %>
                  <hr>
                  <%= form_for @reply, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
                    <%= f.hidden_field :bet_id, value: bet.id %>
                    <%= f.text_area :body, :class => 'form-control' %><br />
                    <%= file_field_tag "documents[]", type: :file, multiple: true %><br />
                    <%= f.submit :class => "btn btn-fw" %>
                  <% end %>
                <% end %>
              <% end %>
              <!-- bet snippet ends -->
            </div><!-- end of timeline-body -->
          </div>
        </li>
      <% end %><!-- bet loop ends -->
    </ul>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->  

<script>
  function limitTextCount(limitField_id, limitCount_id, limitNum) {
    var limitField = document.getElementById(limitField_id);
    var limitCount = document.getElementById(limitCount_id);
    var fieldLEN = limitField.value.length;

    if (fieldLEN > limitNum)
    {
      limitField.value = limitField.value.substring(0, limitNum);
    }
    else
    {
      if ((limitNum - fieldLEN) > 1) {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' characters to go';
      } else {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' character to go';
      }
    }
  }

  $('.hidden-attachment').popover({trigger: 'hover'});       

  $(".modification-form").hide();
  $('.request-modification').click(function() {
    reply_id = $(this).parent().parent().attr('id');
    $('#' + reply_id + ' .modification-form').slideToggle();
  });
</script>