<div class="container-fluid">
    <div class="map-wrapper">
      <div id="map" class="map" style="position: relative; overflow: hidden; -webkit-transform: translateZ(0);height: 465px;">
        <div id="home-page-featured">
        <div id="Textus">
          <div class="clear">
            <p>GET STARTED</p>
          </div>
          <div class="clear">
            <p>WITH REAL SUPPORT</p>
          </div>
        </div>
        <ul>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <!-- / container -->
      </div><!-- end of home-page-featured -->
    </div><!-- end of map -->
  </div><!-- end of .map-wrapper -->
</div><!-- end of container fluid -->



<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      
      <div class="portfolio-selection block">
        <div class="decoration text-center" data-toggle="buttons">
          <div class="nobgr">
            <div class="text-center tags">
              <ul id="portfolio-filter" class="list-inline">
                <li><input class="btn" id="all" type="button" value="All" class="current" title=""> </li>
                <li><input class="btn" id="business" type="button" value="Business" class="" title=""> </li>
                <li><input class="btn" id="education" type="button" value="Education" class="" title=""> </li>
                <li><input class="btn" id="lifestyle" type="button" value="Lifestyle" class="" title="">  </li>
                <li><input class="btn" id="socialimpact" type="button" value="Social Impact" class="" title="">  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="tag1">
        <div class="row text-center" id="my-posts">
          <% @posts.each do |post| %>
            <%= content_tag(:div, :class => "portfolio-listing all") do %>
              <%= render :partial => "posts/post", :locals => {:post => post} %>
            <% end %>
          <% end %>
        </div> 
        <% if @posts.next_page %>
          <div id="with-button">
            <%= will_paginate %>
          </div>
          <div id="load_more_posts" class="btn btn-primary btn-lg">More posts</div>
        <% end %> 
      </div>

      <div id="tag2">
        <div class="row text-center" id="my-posts2">
          <% @posts_test.each do |post| %>
            <%= content_tag(:div, :class => "portfolio-listing business") do %>
              <%= render :partial => "posts/post", :locals => {:post => post} %>
            <% end %>
          <% end %>
        </div> 
      </div>

      <div id="tag3">
        <div class="row text-center" id="my-posts3">
          <% @posts_test2.each do |post| %>
            <%= content_tag(:div, :class => "portfolio-listing education") do %>
              <%= render :partial => "posts/post", :locals => {:post => post} %>
            <% end %>
          <% end %>
        </div> 
      </div>

    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>
  var $j = jQuery.noConflict();
  var loading_posts;

  $j(function() {
    $('#tag2').hide();
    $('#tag3').hide();
    loadMmorePosts();
  });

  function loadMmorePosts() {
  if ($('#with-button').size() > 0) {
      $('#with-button .pagination').hide();
      loading_posts = false;
      $('#load_more_posts').show().click(function() {
        var $this, more_posts_url;
        if (!loading_posts) {
          loading_posts = true;
          more_posts_url = $j('#with-button .next_page').attr('href');
          if (more_posts_url) {
            $this = $(this);
            $this.html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />').addClass('disabled');
            $.getScript(more_posts_url, function() {
              if ($this) {
                $this.text('More posts').removeClass('disabled');
              }
              return loading_posts = false;
            });
          }
        }
      });
    }
  }

  jQuery('#portfolio-filter input').click(function() {
    jQuery('#portfolio-filter input').removeClass('current');
    jQuery(this).addClass('current');
    var filter = jQuery(this).attr('id');
      jQuery('.portfolio-listing').slideUp('fast');
      jQuery('.portfolio-listing').parent().parent().hide();
      jQuery('.portfolio-listing.' + filter).parent().parent().show();
      jQuery('.portfolio-listing.' + filter).slideDown('fast');
  });
</script>
