<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script type="text/javascript"> // load initialize() from googlemap.js
  window.onload = function() { 
   initialize(); 
} 
</script>

<div class="container-fluid">
  <div class="map-wrapper">
    <div id="map" class="map" style="position: relative; overflow: hidden; -webkit-transform: translateZ(0);height: 465px;">
      <div id="home-page-featured">
        <div id="Textus">
          <div class="clear">
            <p>GET STARTED</p>
          </div>
          <div class="clear">
            <p>WITH REAL SUPPORT</p>
          </div>
        </div>
        <ul>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <!-- / container -->
      </div><!-- end of home-page-featured -->
    </div><!-- end of map -->
  </div><!-- end of .map-wrapper -->
</div><!-- end of container fluid -->

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <h3>Recommended for You</h3>
      </div>
      <div class="col-md-3">
        <p>You're in <%= @city %>, <%= @country %></p>
      </div>
      <div class="col-md-3">
        <!-- Controls -->
        <div class="controls pull-right">
          <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
            data-slide="prev"></a>
          <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
            data-slide="next"></a>
        </div>
      </div>
    </div>
    
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <% if @recommended_posts.size != 0 %>
                <% @recommended_posts.each do |post| %>
                  <%= content_tag(:div, :class => "portfolio-listing all") do %>
                    <%= render :partial => "posts/post", :locals => {:post => post} %>
                  <% end %>
                <% end %>
              <% else %>
                <p>No match.</p>
              <% end %>
            </div><!-- end col-sm-3 -->
          </div><!-- end row -->
        </div><!-- end item active -->
        <div class="item">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <% @recommended_posts.each do |post| %>
                <%= content_tag(:div, :class => "portfolio-listing all") do %>
                  <%= render :partial => "posts/post", :locals => {:post => post} %>
                <% end %>
              <% end %>
            </div><!-- end col-sm-3 -->
          </div><!-- end row -->
        </div><!-- end item -->

      </div><!-- end carousel-inner -->
    </div><!-- end carousel-example -->

  </div><!-- end row -->
</div><!-- end container -->

<% if current_user %>
  <h1 class="decoration text-center proj"><span class="nobgr">Your Followings' Posts</span></h1>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <% @followed_posts.each do |post| %>
          <%= content_tag(:div, :class => "portfolio-listing all") do %>
            <%= render :partial => "posts/post", :locals => {:post => post} %>
          <% end %>
        <% end %>

      </div><!-- end coloum -->
    </div><!-- end row -->
  </div><!-- container -->
<% end %>

<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="portfolio-selection block">
        <div class="decoration text-center" data-toggle="buttons">
          <div class="nobgr">
            <div class="text-center tags">
              <ul id="portfolio-filter" class="list-inline">
                <li><input class="btn" id="all" type="button" value="All" class="current" title=""> </li>
                <% Post.group("category").count.each do |category,cnt| %>
                  <% if category == nil %>
                    <% category = 'Others' %>
                  <% end %>
                <li><input class="btn" id="<%= category.split.join('') %>" type="button" value="<%= category %>" title=""> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="posts-container">
        <div class="row text-center" id="my-posts">
          <% @posts.each do |post| %>
            <%= content_tag(:div, :class => "portfolio-listing all") do %>
              <%= render :partial => "posts/post", :locals => {:post => post} %>
            <% end %>
          <% end %>
        </div> 
        <% if @posts.next_page %>
          <div id="load_more_posts" class="btn btn-primary btn-lg" style ="display:block;">More posts</div>
        <% else %>
          <div id="load_more_posts" class="btn btn-primary btn-lg" style ="display:none;">More posts</div>
        <% end %>  
      </div>
  
    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>
  var loading_posts = false;
  var category = "all";
  var page = 1;

  $('#portfolio-filter input').click(function() {
    $('#portfolio-filter input').removeClass('current');
    $('#portfolio-filter input').removeClass('active');
    $(this).addClass('current');
    $(this).removeClass('active');
    $('#my-posts').html('');

    category = $(this).attr('id');
    page = 1;

    $.ajax({
      url: 'getposts',
      type: 'POST',
      data: "category="+category+"&page="+page,
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      }
    });
  });

  $('#load_more_posts').click(function() {
    if(!loading_posts) {
      loading_posts = true;
      $(this).html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />').addClass('disabled');

      $.ajax({
        url: 'getposts',
        type: 'POST',
        data: "category="+category+"&page="+(page+1), 
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
        },
        success: function(data) {
          page += 1;
          loading_posts = false;
          if ($('#load_more_posts').length) {
            $('#load_more_posts').html('More posts').removeClass('disabled');
          }
        }
      });
    }
  });
</script>