<% if (((!current_user && !params[:tag]) && !params[:location]) && !params[:subcategory]) && !params[:search] %>
  <%= render :partial => "posts/mainvisual_v1" %>
<% end %>

<% if current_user %>
  <section id="homepage-new-fund">
    <div class="container">
      <div class="row">
        <%= form_tag new_post_path, :method => 'get', :class => 'form-inline lead-big' do %>
          <div class="form-group homepage-new-fund-div">
            <label for="name">I am offering</label>
            $<span id="instruction1" class="homepage-addfund-instruction">at least 5</span>
            <%= text_field_tag(:price) %>
            <span id="homepage-post-price-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="homepage-post-price-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
            to
          </div>
          <div class="form-group homepage-new-fund-div">
            <span id="instruction2" class="homepage-addfund-instruction">any number</span>
            <%= text_field_tag(:quantity) %>
            <span id="homepage-post-quantity-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="homepage-post-quantity-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
            <label for="company"> people</label>
          </div>
          <div class="homepage-new-fund-div">
            <label for="email"> who want to </label>
            <span id="instruction3" class="homepage-addfund-instruction">criteria</span>
            <%= text_field_tag(:criteria) %>
            <span id="homepage-post-criteria-ok" class='glyphicon glyphicon-ok form-control-feedback validation-success'></span>
            <span id="homepage-post-criteria-nogood" class='glyphicon glyphicon-warning-sign form-control-feedback validation-failed'></span>
          </div>
          <div>
            <button class='btn btn-default btn-lg submit'>  
              <i class="fa fa-send-o"></i> Go
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<h1 class="decoration text-center proj"><span class="nobgr">Available Funds</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <% if params[:tag] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of tag:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:tag] %>
          </span>
        </div>
      <% elsif params[:location] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of location:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:location] %>
          </span>
        </div>
      <% elsif params[:subcategory] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of subcategory:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:subcategory] %>
          </span>
        </div>
      <% elsif params[:search] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of </span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:search] %>
          </span>
        </div>
      <% else %>
        <%= render 'categories' %>
      <% end %>

      <div id="category-loader">
        <img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />&nbsp;&nbsp;Fetching funds
      </div>

      <%= render 'postscontainer' , :user_posts => false, :url_to_get_posts => "/getposts" %>
  
    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>

  $(document).on('click', '#portfolio-filter .category-selection', function() {
    $('#portfolio-filter .category-selection').removeClass('current');
    $('#portfolio-filter .category-selection').removeClass('active');
    $(this).addClass('current');
    $(this).removeClass('active');
    $('#my-posts').html('');
    $('#load_more_posts').hide();
    $('#category-loader').show();

    category = $(this).attr('value');

    $.ajax({
      url: '/getposts',
      type: 'POST',
      data: "category="+category+"&type=1&offset=0",
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      },
      success: function() {
        $('#category-loader').hide();
        window.history.pushState({},'', "/category/"+category);
      }
    });
  });

  $('#posts-container .user-info').popover({trigger: 'hover'});

  $('.location-tag-filter').click(function() {
    tag = null;
    locationn = null;
    subcategory = null;
    $('#filter-display').hide();
    $('#my-posts').html('');
    $('#load_more_posts').hide();
    $('#category-loader').show();

    $.ajax({
      url: '/getposts',
      type: 'POST',
      data: "type=1&offset=0&filterclose=1",
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      },
      success: function() {
        $('#category-loader').hide();
        window.history.pushState({},'', "/");
      }
    });
  });

  /* validation for post price */
  $('#price').on('blur', function() {
    if ($.isNumeric($(this).val()) && ($(this).val() >= 5)) {
      $('#homepage-post-price-ok').show();
      $('#instruction1').html("<span class='validation-success input-feedback'>Good!</span>");
      $('#homepage-post-price-nogood').hide();
    } else if ($(this).val() < 5) {
      $('#homepage-post-price-nogood').show();
      $('#instruction1').html("<span class='validation-failed input-feedback'>Maybe start with 5?</span>");
      $('#homepage-post-price-ok').hide();
    } else {
      $('#homepage-post-price-nogood').show();
      $('#instruction1').html("<span class='validation-failed input-feedback'>Has to be a number</span>");
      $('#homepage-post-price-ok').hide();
    }
  });

  $('#price').on('focus', function() {
    $('#homepage-post-price-ok').hide();
    $('#homepage-post-price-nogood').hide();
  });

  /* validation for post price */
  $('#quantity').on('blur', function() {
    if (($.isNumeric($(this).val()) && ($(this).val() > 0)) && (Math.floor($(this).val()) == $(this).val()) ) {
      $('#homepage-post-quantity-ok').show();
      $('#instruction2').html("<span class='validation-success input-feedback'>Good!</span>");
      $('#homepage-post-quantity-nogood').hide();
    } else if (Math.floor($(this).val()) != $(this).val()) {
      $('#homepage-post-quantity-nogood').show();
      $('#instruction2').html("<span class='validation-failed input-feedback'>You gotta be kidding me</span>");
      $('#homepage-post-quantity-ok').hide();
    } else if ($(this).val() < 1) {
      $('#homepage-post-quantity-nogood').show();
      $('#instruction2').html("<span class='validation-failed input-feedback'>Maybe start with 1?</span>");
      $('#homepage-post-quantity-ok').hide();
    } else {
      $('#homepage-post-quantity-nogood').show();
      $('#instruction2').html("<span class='validation-failed input-feedback'>Has to be a number</span>");
      $('#homepage-post-quantity-ok').hide();
    }
  });

  $('#quantity').on('focus', function() {
    $('#homepage-post-quantity-ok').hide();
    $('#homepage-post-quantity-nogood').hide();
  });

  /* validation for post criteria */
  $('#criteria').on('blur', function() {
    if ($(this).val()) {
      $('#homepage-post-criteria-ok').show();
       $('#instruction3').html("<span class='validation-success input-feedback'>Good!</span>");
      $('#homepage-post-criteria-nogood').hide();
    } else {
      $('#homepage-post-criteria-nogood').show();
      $('#instruction3').html("<span class='validation-failed input-feedback'>What about 'do ice bucket challenge'?</span>");
      $('#homepage-post-criteria-ok').hide();
    }
  });

  $('#criteria').on('focus', function() {
    $('#homepage-post-criteria-ok').hide();
    $('#homepage-post-criteria-nogood').hide();
  });
  
</script>