<div class="jumbotron hero-spacer">
  <h1>A Warm Welcome!</h1>
  <p>Introduce your website content using this jumbotron! It's an awesome way to call attention to something that needs to be read! It's also a great alternative to using a banner image if you don't have a good quality picture!</p>
  <p><a class="btn btn-primary btn-large">Call to action!</a></p>
</div>
      
<hr>

<div class="row">
  <div class="col-lg-12">
    <h3>Latest Features</h3>
  </div>
</div><!-- /.row -->

<div class="row text-center">
  <% @posts.each do |post| %>
    <!-- only have the post show up if paid -->
    <% if post.paid? %>
      <div class="col-lg-3 col-md-6 hero-feature">
        <div class="thumbnail">
          <%= link_to (image_tag post.image.url(:medium)), post %>
          <div class="caption">
            <h3><%= post.title %></h3>by<small><%= post.user.name %></small>
            <p><%= raw post.description.truncate(20) %></p>
            <p><%= post.bets.size %> betters </p> 
            <p><%= post.total %> funding </p>
          </div>
        </div>
      </div>
    <% end %>
    <!-- end evaluation if whether the post should show up -->
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>