<div class="jumbotron" id="home">
  <div class="container">
    <div class="row text-center">   
        <div class="col-md-10 col-md-offset-1" id="headline">
          <h1>Throw In Whatever You'd Like</h1>
          <h3>Integer commodo ipsum neque, nec elementum sem venenatis ac. Sed vehicula felis.</h3>
          <br />
          <%= link_to "Start Now", "#", :class => "btn btn-danger btn-lg" %>           
        </div>
      </div>
  </div>
</div>

<div class="container" id="add-post">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-2">
        <%= link_to "Add Fund", "#", :class => "btn btn-fw btn-lg" %>
      </div>
      <div class="col-md-10">
        <h4>Lorem ipsum dolor sit amet, vidisse abhorreant nec no, at vim legimus deleniti, dicta volutpat mediocrem duo in.</h4>
        <p>Lorem ipsum dolor sit amet, vidisse abhorreant nec no, at vim legimus deleniti, dicta volutpat mediocrem duo in.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="portfolio-selection center-block">
        <div class="decoration text-center">
          <div class="nobgr">
            <div class="text-center">
              <div id="portfolio-filter" class="btn-group-lg">  
                <span type="button" class="btn btn-default col-lg-2 current" id="all" value="All">All</span>
                <% Post.group("category").count.each do |category,cnt| %>
                  <% if category == nil %>
                    <% category = 'Others' %>
                  <% end %>
                  <span type="button" class="btn btn-default col-lg-2" id="<%= category.split.join('') %>" value="<%= category %>"><%= category %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'postscontainer' , :user_posts => false, :url_to_get_posts => "/getposts" %>
  
    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>
  tag = "<%= @tag %>";

  $('#portfolio-filter .btn').click(function() {
    $('#portfolio-filter .btn').removeClass('current');
    $('#portfolio-filter .btn').removeClass('active');
    $(this).addClass('current');
    $(this).removeClass('active');
    $('#my-posts').html('');

    category = $(this).attr('id');
    page = 1;

    $.ajax({
      url: '/getposts',
      type: 'POST',
      data: "category="+category+"&page="+page+"&tag="+tag,
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      }
    });
  });

  $('#posts-container .user-info').popover({trigger: 'hover'});
</script>