<div class="container-fluid">
    <div class="map-wrapper">
      <div id="map" class="map" style="position: relative; overflow: hidden; -webkit-transform: translateZ(0);height: 465px;">
        <div id="home-page-featured">
        <div id="Textus">
          <div class="clear">
            <p>GET STARTED</p>
          </div>
          <div class="clear">
            <p>WITH REAL SUPPORT</p>
          </div>
        </div>
        <ul>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <!-- / container -->
      </div><!-- end of home-page-featured -->
    </div><!-- end of map -->
  </div><!-- end of .map-wrapper -->
</div><!-- end of container fluid -->



<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row text-center" id="my-posts">
        <% @posts.each do |post| %>
          <%= render :partial => "posts/post", :locals => {:post => post} %>
        <% end %>
      </div><!-- end small row -->
      <div id="infinite-scrolling">
        <%= will_paginate %>
      </div>
    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>
  var $j = jQuery.noConflict();
  $j(function() {
    if ($j('#infinite-scrolling').length) {
      $j(window).scroll(function() {
        var url;
        url = $j('.pagination .next_page').attr('href');
        if (url && $j(window).scrollTop() > $j(document).height() - $j(window).height() - 50) {
          $j('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
        return $j.getScript(url);
        }
      });
    return $j(window).scroll();
    }
  })
</script>
