<% if ((!current_user && !params[:tag]) && !params[:location]) && !params[:subcategory] %>
  <!-- <div class="jumbotron" id="home">
    <div class="container" id="home-content">
      <div class="row text-center">   
          <div class="col-md-10 col-md-offset-1" id="headline">
            <h1 >Throw In Whatever You'd Like</h1>
            <h3 id="subtitle">Integer commodo ipsum neque, nec elementum sem venenatis ac. Sed vehicula felis.</h3>
            <br />
            <%= link_to "#myModal", :data => {:toggle=>"modal"}, :class => "btn btn-danger btn-lg btn-start" do %>
              Start Now
            <% end %>    
          </div>
        </div>
    </div>
  </div> -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1404621518/blogger-small-caption_n87itq.psd" alt="...">
      <div id="carousel-caption-slide-1">
        <h2>Danielle is ready to fund you</h2>
        <h4>if you are publishing a book</h4>
        <br />
        <%= link_to "Check out Danielle's Fund", '#', :class => 'btn btn-danger btn-lg' %>
      </div>
    </div>
    <div class="item">
      <img src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1404621489/developer-small-caption_mzsvtx.jpg" alt="...">
      <div id="carousel-caption-slide-2">
        <h2>Andrew is ready to fund you</h2>
        <h4>if you want to learn coding</h4>
        <br />
        <%= link_to "Check out Andrew's Fund", '#', :class => 'btn btn-danger btn-lg' %>
      </div>
    </div>
    <div class="item">
      <img src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1404621517/fashion-designer-small-caption_midl1v.psd" alt="...">
      <div id="carousel-caption-slide-3">
        <h2>Nicole is ready to fund you</h2>
        <h4>if you are opening a boutique</h4>
        <br />
        <%= link_to "Check out Nicole's Fund", '#', :class => 'btn btn-danger btn-lg' %>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<% end %>

<% if current_user %>
  <section id="homepage-new-fund">
    <div class="container">
    <div class="row">
      <%= form_tag new_post_path, :method => 'get', :class => 'form-inline lead-big' do %>
        <div class="form-group homepage-new-fund-div">
          <label for="name">I am giving</label>
          $<span class="homepage-addfund-instruction">dollar amount</span>
          <%= text_field_tag(:price) %> to
        </div>
        <div class="form-group homepage-new-fund-div">
          <span class="homepage-addfund-instruction">number of people</span>
          <%= text_field_tag(:quantity) %>
          <label for="company"> people</label>
        </div>
        <div class="homepage-new-fund-div">
          <label for="email"> who</label>
          <span class="homepage-addfund-instruction">criteria</span>
          <%= text_field_tag(:criteria) %>
        </div>
        <div>
          <%= submit_tag "Add Fund", :class => "btn btn-default btn-lg submit", :name => nil %>
        </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <% if params[:tag] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of tag:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:tag] %>
          </span>
        </div>
      <% elsif params[:location] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of location:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:location] %>
          </span>
        </div>
      <% elsif params[:subcategory] %>
        <div id="filter-display" class="tag-display">
          <span class="search-text">Search results of subcategory:</span>
          <span class="search-tag">
            <a class="location-tag-filter">
              <i class="fa fa-times dismiss-tag"></i>
            </a>&nbsp;
            <%= params[:subcategory] %>
          </span>
        </div>
      <% else %>
        <%= render 'categories' %>
      <% end %>

      <div id="category-loader">
        <img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />&nbsp;&nbsp;Fetching funds
      </div>

      <%= render 'postscontainer' , :user_posts => false, :url_to_get_posts => "/getposts", :category => @category %>
  
    </div><!-- end coloum -->
  </div><!-- end row -->
</div><!-- container -->

<script>
  tag = "<%= @tag %>";
  locationn = "<%= @location %>";

  $(document).on('click', '#portfolio-filter .btn', function() {
    $('#portfolio-filter .btn').removeClass('current');
    $('#portfolio-filter .btn').removeClass('active');
    $(this).addClass('current');
    $(this).removeClass('active');
    $('#my-posts').html('');
    $('#load_more_posts').hide();
    $('#category-loader').show();

    category = $(this).attr('value');

    page = 1;

    $.ajax({
      url: '/getposts',
      type: 'POST',
      data: "category="+category+"&page="+page+"&tag="+tag+"&location="+locationn+"&type=1&offset=0",
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      },
      success: function() {
        $('#category-loader').hide();
        window.history.pushState({},'', "/category/"+category);
      }
    });
  });

  $('#posts-container .user-info').popover({trigger: 'hover'});

  $('.location-tag-filter').click(function() {
    tag = "";
    locationn = "";
    $('#filter-display').hide();
    $('#my-posts').html('');
    $('#load_more_posts').hide();
    $('#category-loader').show();

    $.ajax({
      url: '/getposts',
      type: 'POST',
      data: "category=all&tag=&location=&type=1&offset=0&filterclose=1",
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      },
      success: function() {
        $('#category-loader').hide();
        window.history.pushState({},'', "/category/all");
      }
    });
  });
</script>