<% if params[:filterclose] %>
  $('#category-loader').before('<%= j render :partial => "posts/categories" %>');
<% end %>

<% @posts.each do |post| %>
	<% if post["followed_post"] == false %>
	    $('#<% if @user_posts %><%= "user" %><% else %><%= "my" %><% end %>-posts').append('<div class="portfolio-listing all nearby"><%= j render :partial => "posts/post", :locals => {:post => post} %></div>');
	<% elsif post["followed_post"] == true %>
	    $('#<% if @user_posts %><%= "user" %><% else %><%= "my" %><% end %>-posts').append('<div class="portfolio-listing all followed"><%= j render :partial => "posts/post", :locals => {:post => post} %></div>');
	<% else%>
	    $('#<% if @user_posts %><%= "user" %><% else %><%= "my" %><% end %>-posts').append('<div class="portfolio-listing all"><%= j render :partial => "posts/post", :locals => {:post => post} %></div>');
	<% end %>
<% end %>

<% if @next_page == true %>
  $("#load_more_posts<% if @user_posts %><%= "_user" %><% end %>").show();
<% else %>
  $("#load_more_posts<% if @user_posts %><%= "_user" %><% end %>").hide();
<% end %>

$('.user-info-hover').popover({trigger: 'hover'});
