<!-- <h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.image_url %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<div class="jumbotron hero-spacer">
  <h1>A Warm Welcome!</h1>
  <p>Introduce your website content using this jumbotron! It's an awesome way to call attention to something that needs to be read! It's also a great alternative to using a banner image if you don't have a good quality picture!</p>
  <p><a class="btn btn-primary btn-large">Call to action!</a></p>
</div>
      
<hr>

<div class="row">
  <div class="col-lg-12">
    <h3>Latest Features</h3>
  </div>
</div><!-- /.row -->

<div class="row text-center">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-6 hero-feature">
      <div class="thumbnail">
        <%= image_tag post.image_url %>
        <div class="caption">
          <h3><%= post.title %></h3>
          <p>This would be a great spot to feature some brand new products!</p>
          <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p><%= link_to 'Show', post %>
          <% if current_user == post.user %>
          <p>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          <% end %>
      </tr>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>