<div class="container-fluid line">
    <div class="map-wrapper">
      <div id="map" class="map" style="position: relative; overflow: hidden; -webkit-transform: translateZ(0);height: 465px;">
        <div id="home-page-featured">
        <div id="Textus">
          <div class="clear">
            <p>GET STARTED</p>
          </div>
          <div class="clear">
            <p>WITH REAL SUPPORT</p>
          </div>
        </div>
        <ul>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
        </ul>
        <ul>
          <li><%= image_tag "main_pic_13.jpg" %></li>  
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
          <li><%= image_tag "main_pic_14.jpg" %></li>
          <li><%= image_tag "main_pic_15.jpg" %></li>
          <li><%= image_tag "main_pic_16.jpg" %></li>
          <li><%= image_tag "main_pic_17.jpg" %></li>
          <li><%= image_tag "main_pic_18.jpg" %></li>
          <li><%= image_tag "main_pic_19.jpg" %></li>
          <li><%= image_tag "main_pic_20.jpg" %></li>
          <li><%= image_tag "main_pic_21.jpg" %></li>
          <li><%= image_tag "main_pic_22.jpg" %></li>
        </ul>
        <!-- / container -->
      </div><!-- end of home-page-featured -->
    </div><!-- end of map -->
  </div><!-- end of .map-wrapper -->
</div><!-- end of container fluid -->



<h1 class="decoration text-center proj"><span class="nobgr">Funds Available</span></h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row text-center">
      <% @posts.each do |post| %>
        <!-- only have the post show up if paid -->
        <% if post.paid? %>
          <div class="col-lg-3 col-md-6 hero-feature listing-big">
            <div class="thumbnail">
                         
              <%= link_to (image_tag post.image.url(:medium)), post %>
              <hr class="reduced-margin-top">
              <div class="folder">
                <h4 class="text-center">
                  <%= link_to raw(post.title.truncate(70)), post %>
                </h4>
              </div>
              
              <div class="brief-desc">
                <div class="media author-info">
                  <div class="pull-left">
                    <% if post.user.avatar? %>
                    <%= link_to image_tag(post.user.avatar.url(:thumb)), post.user, :class => "media-object", :width => "50px" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/50x50"), post.user, :class => "media-object" %>
                  <% end %>
                  
                </div>
                <div class="media-body align-left">
                  <p class="media-heading brief-desc-text">
                    <%= link_to raw(post.description.truncate(95)), post %>
                  </p>
                </div>

              </div>
              <p class="author pull-right"><%= link_to post.user.name, post.user %></p>

              
              <div class="clear"></div>

            </div>
              
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= post.percentage_claimed %>%;">      
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><b><%= number_to_percentage(post.percentage_claimed, precision: 0) %></b><br/><small>CLAIMED</small></div>
                <div class="col-md-4"><b>$<%= post.total %></b><br/><small>FUNDED</small></div>
                <div class="col-md-4"><b><%= post.beneficiaries %></b><br/><small>PEOPLE BENEFITED</small></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <!-- end evaluation if whether the post should show up -->
      <% end %>
    </div>
    </div>
  </div>
</div><!-- container -->

