<div class="row">
	<div class="col-lg-8">

	  <!-- the actual blog post: title/author/date/content -->
	  <h1><%= @post.title %></h1>
	  <p class="lead">by <%= link_to @post.user.name, user_path(@post.user.id) %> </p>
	  <% if !@post.paid? %>
		  <%= link_to 'Pay now', {:controller => :posts, :action=> :payment, :id => @post}, :class => 'btn btn-primary' %>
	  <% end %>
	  <% if current_user == @post.user %>
	  	<br />
			<%= link_to 'Edit', edit_post_path(@post) %>
		<% end %>
	  <hr>
	  <p><span class="glyphicon glyphicon-time"></span>&nbsp;Created at<%= @post.created_at %>&nbsp;by&nbsp;<%= @post.user.name %></p>
	  <hr>
	  <%= image_tag @post.image_url, :class => "img-responsive" %>
	  <%= image_tag @post.image.url(:big) %>
	  <hr>
	  <p class="lead"><%= @post.description %></p>
	  <p><strong>Placeholder text by:</strong></p>
	  <ul>
	    <li><a href="http://spaceipsum.com/">Space Ipsum</a></li>
	    <li><a href="http://cupcakeipsum.com/">Cupcake Ipsum</a></li>
	    <li><a href="http://tunaipsum.com/">Tuna Ipsum</a></li>
	  </ul>

	  <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i>Current Bets
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="timeline">
        	<li>
            <div class="timeline-panel">
              <% if user_signed_in? %>
					      <h4>Submit Your Bet:</h4>
					      	<%= form_for([@post, @bet]) do |f| %>
					          <div class="form-group">
					            <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
					            <%= f.submit :class => "btn btn-primary" %>
					          </div>
					        <% end %>
					    <% else %>
					      <div>
					        <p>Please log in to create a bet</p>
					      </div>
				    	<% end %>
            </div>
            </li>
        	<% @bets.each do |bet| %>
          <li class="<%= cycle("timeline-inverted", "") %>" >
          	<% if bet.open? %>
	            <div class="timeline-badge">
	            	<i class="fa fa-flag"></i>
	            </div>
            <% elsif bet.selected? %>
            	<div class="timeline-badge info">
            		<i class="fa fa-check"></i>
               </div>
            <% elsif bet.submitted? %>
            	<div class="timeline-badge success">
            		<i class="fa fa-thumbs-up"></i>
               </div>
            <% end %>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
                <p>
                  <small class="text-muted"><i class="fa fa-time"></i><%= bet.created_at %></small>
                </p>
              </div>
              <div class="timeline-body">
                <p><%= bet.body %></p>
                <% if bet.open? %>
	  							<% if @post.user == current_user %>
		                <hr>
		                <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-success" do %>
					          	Select
					          <% end %>
                	<% end %>
                <% elsif bet.selected? %>
					  			<% if bet.user == current_user %>
					  				<hr>
							  		<h4>Submit Your Update:</h4>
							    	<%= form_for([@post, bet, @update], :url => post_bet_updates_path(@post, bet)) do |f| %>
							        <div class="form-group">
							          <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
							          <%= f.submit :class => "btn btn-primary" %>
							        </div>
							      <% end %>
					  			<% end %>
					  		<% elsif bet.submitted? %>
					  			<hr>
						  		<% if bet.update %>
						  			<p>
						  				<small class="text-muted"><i class="fa fa-time"></i><%= bet.update.created_at %></small>
						  			</p>
						  			<p>
						  				<%= bet.update.body %>
						  			</p>
						  		<% end %>
						  	<% end %>
              </div>
            </div>
          </li>
          <% end %><!-- bet loop ends -->
        </ul>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
	</div>

	<div class="col-lg-4">
	  <div class="well">
	    <h4>Blog Search</h4>
	    <div class="input-group">
	      <input type="text" class="form-control">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /well -->
	  <div class="well">
	    <h4>Popular Blog Categories</h4>
	      <div class="row">
	        <div class="col-lg-6">
	          <ul class="list-unstyled">
	            <li><a href="#dinosaurs">Dinosaurs</a></li>
	            <li><a href="#spaceships">Spaceships</a></li>
	            <li><a href="#fried-foods">Fried Foods</a></li>
	            <li><a href="#wild-animals">Wild Animals</a></li>
	          </ul>
	        </div>
	        <div class="col-lg-6">
	          <ul class="list-unstyled">
	            <li><a href="#alien-abductions">Alien Abductions</a></li>
	            <li><a href="#business-casual">Business Casual</a></li>
	            <li><a href="#robots">Robots</a></li>
	            <li><a href="#fireworks">Fireworks</a></li>
	          </ul>
	        </div>
	      </div>
	  </div><!-- /well -->
	  <div class="well">
	    <h4>Side Widget Well</h4>
	    <p>Price: <%= @post.price %></p>
	    <p>Quantity: <%= @post.quantity %></p>
	    <p>Total fund: <%= @post.total %></p>
	    <p>Total bets submitted: <%= @post.bets.size %></p>
	    
	    <p>Betters:</p>
	    <% if @post.bets.any? %>
		    <% @post.bets.each do |bet| %>
		    	<p><%= bet.user.name %></p>
		    <% end %>
		  <% else %>
		  	<p>There is no bet submitted yet.</p>
	    <% end %>
	  </div><!-- /well -->

	</div>
</div>






