<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="title-section">
          
          <div id="post-show-lead">
            <span id="post-categorization">
              <% if (@post.category != nil && @post.category != '') %>  
                <%= link_to category_path(@post.category.name) do %>
                  <%= @post.category.name %>
                <% end %>  
              <% end %>
              <% if (@post.subcategory != nil && @post.subcategory != '') %>
                 >
                <%= link_to subcategory_path(@post.subcategory.name) do %>
                  <%= @post.subcategory.name %>
                <% end %>
              <% end %>
            </span>
            <span class="pull-right" id="post-updated-time">
              <i class="fa fa-clock-o"></i>
              updated <%= reformatted_post_datetime(@post.created_at) %>
            </span>
          </div>
          
          <hr class="post-content-divider clear">

          <div class="title-content pull-left">
            <h1><%= @post.title %></h1>
            <div id="title-info">
              <span class="pull-left btn btn-default" id="like-post">
                <i class="fa fa-thumbs-o-up"></i> Kudos
              </span>
              <% if (@post.location != nil && @post.location != '') %>
                <%= link_to location_path(@post.location), :class =>"pull-right", :id => "post-location" do %>
                  <i class="fa fa-map-marker"></i>&nbsp;
                  <%= @post.location %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <%= render :partial => "posts/show_funding_stats" %>
        </div>
      </div>
      
      <hr class="show-funding-content-divider">

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">  
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= image_tag @post.image.url(:big), :class => "img-responsive" %>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= render :partial => "posts/description_tabs" %>
          </div>   
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <%= render :partial => "posts/funder_profile" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <%= render :partial => "posts/social_panel" %>
          <%= render :partial => "posts/timeline" %>
        </div>
      </div> 

    </div><!-- end col-md-10 -->
  </div><!-- end row -->
</div><!-- end container -->