<% if current_user %>
  <% if @post.user == current_user %>
    <% if @post.bets.count == 0 %>
      <div class="alert alert-info fund-application-prompt fund-application-action-needed" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              There are no application to the fund yet. Let's change that by sharing –
              <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_face.png" %></a>
              <a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_g.png" %></a>
              <a href="http://twitter.com/share?url=<%= request.original_url %>&text=<%= @post.title %> on FundWok." target="_blank"><%= image_tag "social/icon_header_tw.png" %></a>
              <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><%= image_tag "social/icon_header_p.png" %></a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @post.bets.count > 0 %>
      <% if @post.bets_past_selection.count == 0 %>
        <div class="alert alert-info fund-application-prompt fund-application-action-needed" style="margin-bottom: -5px;">
        <div class="container">
          <a href="#fw-panel">
            <% if @post.bets.count == 1 %>
              <%= @post.bets.first.user.name %>'s application is waiting on your review – Let's get rolling!
              <i class="fa fa-futbol-o"></i>
            <% elsif @post.bets.count == 2 %>
              <%= @post.bets.first.user.name %>'s and <%= @post.bets.last.user.name %>'s applications are waiting on your review – Let's get rolling!
              <i class="fa fa-futbol-o"></i>
            <% elsif @post.bets.count > 2 %>
              <%= @post.bets.first.user.name %>'s and others' applications are waiting on your review – Let's get rolling!
              <i class="fa fa-futbol-o"></i>
            <% end %>
          </a>  
        </div>
      </div>
      <% else %>
        share your impact
      <% end %>
    <% end %>
  <% elsif @post.bets_past_selection.find_by_user_id(current_user.id) %>        
    <% if @current_user_bet.selected? %>
      <div class="alert alert-info fund-application-prompt fund-application-action-needed" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                You've been selected for the fund – Let's get rolling!
                <i class="fa fa-futbol-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @current_user_bet.submitted? %>
      <div class="alert alert-success fund-application-prompt fund-application-complete" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                You have marked your application complete. Good job!
                <i class="fa fa-beer"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @current_user_bet.awaiting_modification? %>
      <div class="alert alert-warning fund-application-prompt" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                Your application is pending your modification – You'll get there!
                <i class="fa fa-eraser"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @current_user_bet.modified? %>
      <div class="alert alert-success fund-application-prompt fund-application-complete" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                You have resubmitted the update. Good job!
                <i class="fa fa-beer"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @current_user_bet.credited? %>
      <div class="alert alert-success fund-application-prompt fund-application-complete" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                You have obtained <%= @post.price %> credits from the fund. Share your good vibes!
                <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_face.png" %></a>
                <a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_g.png" %></a>
                <a href="http://twitter.com/share?url=<%= request.original_url %>&text=Woot! I got a fund from <%= @post.user.name %> on FundWok." target="_blank"><%= image_tag "social/icon_header_tw.png" %></a>
                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><%= image_tag "social/icon_header_p.png" %></a>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% elsif @current_user_bet.funded? %>
      <div class="alert alert-success fund-application-prompt fund-application-complete" style="margin-bottom: -5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <a href="#bet_<%= @current_user_bet.id %>">
                You have obtained $<%= @post.price %> from this fund. Share your good vibes!
                <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_face.png" %></a>
                <a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><%= image_tag "social/icon_header_g.png" %></a>
                <a href="http://twitter.com/share?url=<%= request.original_url %>&text=Woot! I got a fund from <%= @post.user.name %> on FundWok." target="_blank"><%= image_tag "social/icon_header_tw.png" %></a>
                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><%= image_tag "social/icon_header_p.png" %></a>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  <% elsif @current_user_bet %>
    <div class="alert fund-application-open" style="margin-bottom: -5px;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <a href="#bet_<%= @current_user_bet.id %>">
              You have submitted your application. Good for you!
              <i class="fa fa-beer"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="title-section">
          
          <div id="post-show-lead">
            <span id="post-categorization">
              <% if (@post.category != nil && @post.category != '') %>  
                <%= link_to category_path(@post.category.name) do %>
                  <%= @post.category.name %>
                <% end %>  
              <% end %>
              <% if (@post.subcategory != nil && @post.subcategory != '') %>
                 >
                <%= link_to subcategory_path(@post.subcategory.name) do %>
                  <%= @post.subcategory.name %>
                <% end %>
              <% end %>
            </span>
            <span class="pull-right" id="post-updated-time">
              <i class="fa fa-clock-o"></i>
              <%= reformatted_post_datetime(@post.created_at) %>
            </span>
          </div>
          <% if current_user && @post.user == current_user %>
            <%= link_to edit_post_path(@post), :class => 'btn btn-default pull-right funder-post-edit' do %>
              <i class='fa fa-pencil'></i>&nbsp;Edit
            <% end %>
          <% end %>
          
          <hr class="post-content-divider clear">

          <div class="title-content pull-left">
            <h1><%= @post.title %></h1>
            <div id="title-info">
              <%= link_to upvote_post_path(@post), :method => :post do %>
                <span class="pull-left btn btn-default" id="like-post">
                  <% if current_user && current_user.voted_for?(@post) %>
                    <span class="fw-main-color">
                      <i class="fa fa-thumbs-up"></i>
                      Kudos
                    </span>
                  <% else %>
                    <i class="fa fa-thumbs-o-up"></i>
                    Kudos
                  <% end %>
                  <% if @post.votes_for.size != 0 %>
                    <span id="number-of-likes">
                      <%= @post.votes_for.size %>
                    </span>
                  <% end %>
                </span>
              <% end %>
              <% if (@post.location != nil && @post.location != '') %>
                <%= link_to location_path(@post.location), :class =>"pull-right", :id => "post-location" do %>
                  <i class="fa fa-map-marker"></i>&nbsp;
                  <%= @post.location %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div><!-- end title-section -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <%= render :partial => "posts/show_funding_stats" %>
        </div>
      </div><!-- end row -->
      
      <hr class="show-funding-content-divider">

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">  
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if @post.image_file_size != 0 && @post.image_file_size != nil %>
              <%= image_tag @post.image.url(:big), :class => "img-responsive" %>
            <% end %>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= render :partial => "posts/description_tabs" %>
          </div>   
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <%= render :partial => "posts/funder_profile" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <%= render :partial => "posts/social_panel" %>
          <%= render :partial => "posts/timeline" %>
        </div>
      </div> 

    </div><!-- end col-md-10 -->
  </div><!-- end row -->
</div><!-- end container -->