<div class="line">

  <div class="clear"></div>
  <div class="content description">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
      <h1 class="decoration text-center proj"><span class="nobgr"><%= @post.title %></span></h1>
      <div class="video">
        <!-- main visual -->
        <div id="myCarousel" class="carousel">
          <div class="carousel-inner content" style="width: 100%">
              <!-- <div class="item">
                  <iframe id="player1" src="http://player.vimeo.com/video/47653105?api=1&player_id=player1" width="620" height="380" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div> -->
              <div class="item active">
                <div>
                  <%= image_tag @post.image.url(:big), :class => "img-responsive" %>
                </div>
              </div>
          </div>
          <!-- <div id="visiblepanel" class="visiblepanel">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" id="slide_left"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" id="slide_right"></a>
          </div> -->
        </div>
      </div><!-- end of main visual -->

      <!-- tabs -->
      <div class="tabbable" style="margin-bottom: 18px;">
        <div id="tabs_pages">
          <ul class="tabs_pages_ul row">
            <li class="active col-md-4" style="height: 62px;"><a href="#tab1" data-toggle="tab">DESCRIPTION</a></li>
            <li class="col-md-4" style="height: 62px;"><a href="#tab2" data-toggle="tab">BETTERS</a></li>
            <li class="col-md-4" style="height: 62px;"><a href="#tab3" data-toggle="tab">UPDATES</a></li>
          </ul>
        </div>
        <div class="tab-content" style="padding: 20px;">
          <div class="tab-pane active" id="tab1">
            <div id="description_content">
              <div class="title_description_content"><%= @post.description %></div>
              <!-- <div class="text_description_content"><%= @post.description %></div> -->
            </div>
          </div>
          <div class="tab-pane" id="tab2">
            <div id="backers_content">
              <% if @post.bets.any? %>
                <div class="row">
                  <% @post.bets.each do |bet| %>
                  <div class="col-md-6">
                    <div class="backers_block_text">
                      <div class="image_face_backers_content"><div class="face_backers_content"></div></div>
                      <div class="text_backers_content">
                        <div class="backer_name"><%= bet.user.name %></div>
                        <div class="backer_date"><%= bet.created_at %></div>
                        <!-- <div class="number_project">Backed 5 project</div> -->
                      </div>
                    </div>
                  </div>
                  
                  <% end %>            
              	</div><!-- ends row -->
              <% end %>            
                                   
              <!-- pagination -->
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="btn-toolbar text-center">
                    <div class="decoration text-center proj">
                      <div class="btn-group nobacgr">
                        <button class="btn"><span class="gray">1</span></button>
                        <button class="btn mleft10">2</button>
                        <button class="btn mleft10">3</button>
                        <button class="btn mleft10">4</button>
                        <button class="btn mleft10">5</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

          	</div><!-- end backer's content -->
        	</div><!-- end tab2 -->

          <div class="tab-pane" id="tab3">
            <div id="updates_content">
              <div class="row">
                <div class="col-md-12">
                  <div class="updates_block_text">
                    <h4>Update</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien. Nullam ac nisi vel augue ultrices venenatis sed sed felis. Quisque velit tortor, suscipit et auctor tempus, pretium eu velit. Vestibulum vitae ligula sapien. Donec et felis lorem. Vestibulum non feugiat risus. Sed malesuada nisl vel lorem rhoncus feugiat. Proin pellentesque velit nec metus tincidunt quis egestas tortor venenatis. Phasellus mattis sapien suscipit massa suscipit placerat. Vestibulum semper laoreet tempus. Curabitur ac sagittis urna. Sed rhoncus massa vel lorem lobortis sit amet adipiscing nunc aliquet.  accumsan sit amet, posuere eget odio. Suspendisse pellentesque odio id nunc tempor placerat. Pellentesque ipsum mauris, ultrices ut rhoncus id, vehicula eget est. </p>
                  </div>
                </div>
              </div>
            </div><!-- end of updates_content -->
          </div><!-- end of tab3-->
        </div><!-- end of tab content -->
      </div><!-- end of tabbable -->

      <div id="social_uncategorized">
        <div class="left_social_uncategorized"><span><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span></div>
        <div class="social inline pull-right">
          <ul id="social_mid" class="bleft_social">
            <li><a href="https://twitter.com/" target="_blank"  original-title="twitter"><%= image_tag "social/icon_header_face.png" %></a></li>
            <li><a href="https://plus.google.com" target="_blank"  original-title="googleplus"><%= image_tag "social/icon_header_g.png" %></a></li>
            <li><a href="https://www.facebook.com" title="facebook" target="_blank" ><%= image_tag "social/icon_header_tw.png" %></a></li>
            <li><a href="http://www.linkedin.com/" target="_blank" original-title="linkedin"><%= image_tag "social/icon_header_in.png" %></a></li>
            <li><a href="johndoe@domainname.com" target="_self" original-title="mail"><%= image_tag "social/icon_header_p.png" %></a></li>
            <li><a href="johndoe@domainname.com" target="_self" original-title="mail"><%= image_tag "social/icon_header_ball.png" %></a></li>
          </ul>
        </div>
      </div><!-- end of social media icons -->

      <div class="clear"></div>

      <div class="clear"></div>
      <!--<h4 class="decoration text-center"><span class="nobgr">Bets</span></h4>
      <div id="asc_a_question">
        <div class="reply_user main_reply">
          <div class="row">
            <div class="col-md-2">
              <div class="image_face"></div>
            </div>
            <div class="col-md-10">
              <div class="name_and_date"><span class="user_name">User</span> - April 10, 2013 at 7:34 pm - <span class="reply_t">Reply</span></div>
              <div class="text_reply">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.</div>
            </div>
          </div>
        </div>

        <div class="reply_user subreply">
          <div class="row">
            <div class="col-md-2">
              <div class="image_face"></div>
            </div>
            <div class="col-md-10">
              <div class="name_and_date"><span class="user_name">Admin</span> - April 10, 2013 at 7:34 pm - <span class="reply_t">Reply</span></div>
              <div class="text_reply">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.</div>
            </div>
          </div>
        </div>
      </div>

      <div id="asc_a_question_form">
        <h3 class="text-center asc_question_form_name">Make a &nbsp;<span class="h3_quest">Comment</span></h3>
        <div class="form_question">
          <div class="row">
            <div class="controls controls-row message">
              <input class="inputp search-query col-md-4" type="text" placeholder="Name*">
              <input class="inputp search-query col-md-4" type="text" placeholder="Email*">
              <input class="inputp search-query col-md-4" type="text" placeholder="Website*">
              <div class="clear"></div>
              <textarea id="redex" class="inputp search-query col-md-12"  rows="5" placeholder="Project description"></textarea>
              <div class="clear"></div>
              <div class="tmargin20">
                  <button type="submit" class="btn"><strong>Send Message</strong></button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-clock-o fa-fw"></i>Current Bets
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <ul class="timeline">
            <br />
            <br />
            <li>
              <div class="timeline-panel">
                <% if user_signed_in? %>
                  <% if !@current_user_bet.empty? %>
                    You've already submitted your bet!
                  <% elsif @post.user == current_user %>
                    Kudos to you, <%= current_user.name %>!
                  <% else %>
                    <h4>Submit Your Bet:</h4>
                    <%= form_for([@post, @bet]) do |f| %>
                      <div class="form-group">
                        <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
                        <%= f.submit :class => "btn btn-primary" %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div>
                    <p>Please log in to create a bet</p>
                  </div>
                <% end %>
              </div>
            </li>
            <% @bets.each do |bet| %>
              <li class="<%= cycle("timeline-inverted", "") %>" >
                <% if bet.open? %>
                  <div class="timeline-badge">
                    <i class="fa fa-flag"></i>
                  </div>
                <% elsif bet.selected? %>
                  <div class="timeline-badge info">
                    <i class="fa fa-check"></i>
                   </div>
                <% elsif bet.submitted? %>
                  <div class="timeline-badge success">
                    <i class="fa fa-thumbs-up"></i>
                   </div>
                <% elsif bet.funded? %>
                  <div class="timeline-badge success">
                    <i class="fa fa-thumbs-up"></i>
                   </div>
                <% end %>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
                    <p>
                      <small class="text-muted"><i class="fa fa-time"></i><%= bet.created_at %></small>
                    </p>
                  </div>
                  <div class="timeline-body">
                    <!-- bet snippet begins; todo: refractor later-->
                    <p><%= bet.body %></p>
                    <% if bet.open? %>
                      <% if @post.user == current_user %>
                        <hr>
                        <%= button_to select_post_bet_path(@post, bet), :method => :post, :class => "btn btn-success" do %>
                          Select
                        <% end %>
                      <% end %>
                    <% elsif bet.selected? %>
                      <% if bet.user == current_user %>
                        <hr>
                        <h4>Submit Your Update:</h4>
                        <%= form_for([@post, bet, @update], :url => post_bet_updates_path(@post, bet)) do |f| %>
                          <div class="form-group">
                            <%= f.text_area :body, :class => 'form-control', :rows => '3' %><br />
                            <%= f.submit :class => "btn btn-primary" %>
                          </div>
                        <% end %>
                      <% end %>
                    <% elsif bet.submitted? %>
                      <hr>
                      <% if bet.update %>
                        <p>
                          <small class="text-muted"><i class="fa fa-time"></i><%= bet.update.created_at %></small>
                        </p>
                        <p>
                          <%= bet.update.body %>
                          <% if bet.user == current_user %>
                            <%= button_to receive_post_bet_path(@post, bet), :method => :get, :class => "btn btn-success pull-right" do %>
                              Claim Fund
                            <% end %>
                          <% end %>
                        </p>
                      <% end %>
                    <% elsif bet.funded? %>
                      <hr>
                      <% if bet.update %>
                        <p>
                          <small class="text-muted"><i class="fa fa-time"></i><%= bet.update.created_at %></small>
                        </p>
                        <p>
                          <%= bet.update.body %>
                          <p class='pull-right'>Funded!</p>
                        </p>
                      <% end %>
                    <% end %>
                    <!-- bet snippet ends -->
                  </div>
                </div>
              </li>
            <% end %><!-- bet loop ends -->
          </ul>
          <br />
          <br />
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->


      </div>
      <div class="sidebar_descr col-md-4">
        <div id="back_this_project_block">
          <div class="backers_days_blocks first">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px"><div class="image_first"></div></div>
              <div class="text_backers_days_blocks col-md-10">
                <div class="top_text_backers_days_blocks"><%= @post.beneficiaries %></div>
                <div class="bottom_text_backers_days_blocks">Beneficiaries</div>
              </div>
            </div>
          </div>
          <div class="backers_days_blocks">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px"><div class="image_second"></div></div>
              <div class="text_backers_days_blocks col-md-10">
                  <div class="top_text_backers_days_blocks">$<%= @post.claimed_fund %></div>
                  <div class="bottom_text_backers_days_blocks">of $<%= @post.total %> claimed</div>
              </div>
            </div>
          </div>
          <div class="backers_days_blocks">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px"><div class="image_third"></div></div>
              <div class="text_backers_days_blocks col-md-10">
                <div class="top_text_backers_days_blocks"><%= @post.quantity - @post.beneficiaries %></div>
                <div class="bottom_text_backers_days_blocks">spots left</div>
              </div>
            </div>
          </div>
        </div><!-- end back_this_project_block-->
        <div class="back_this_project_button">
          <button class="btn btn-large back_project" type="button">
            <small>Subscribe to this Funder</small>
          </button>
        </div>

        <div id="author_review">
          <h3 class="decoration text-center"><span class="nobgr">Funder</span></h3>
          <div id="face_social_text">
            <div class="left_face_social_text col-md-4">
              <div class="face_big col-md-11">
                <div class="pix_author">
                  <% if @post.user.avatar %>
                    <%= link_to image_tag(@post.user.avatar.url(:thumb)), @post.user, :class => "media-object", :width => "100px" %>
                  <% else %>
                    <%= image_tag "http://placehold.it/100x100" %>
                  <% end %>
                </div>
              </div>
              <div class="social_link_author col-md-1">
                <div class="social_bord"><a href="#" >
                  <%= link_to image_tag("funder/facebook_author_icon.png"), "#" %>
                </a></div>
                <div class="social_bord"><a href="#" >
                  <%= link_to image_tag("funder/google_author_icon.png"), "#" %>
                </a></div>
                <div class="social_bord_last"><a href="#" >
                  <%= link_to image_tag("funder/twitter_author_icon.png"), "#" %>
                </a></div>
              </div>
            </div>
            <div class="right_face_social_text col-md-8">
              <div class="name_surname"><%= @post.user.name %></div>
              <div class="proff">Title</div>
              <div class="text_author_right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa ut justo accumsan malesuada ut pharetra sapien.</div>
            </div>
          </div><!-- end of face_social_text -->
        </div><!-- end of author -->

        <!-- <div id="pledges_block">
          <h3 class="decoration text-center"><span class="nobgr">Pledges</span></h3>
          <div class="pledges_block_info">
            <div class="pledges_block_info_link"><a id="link_pledges_block_info_link_1">Pledge $5 or more</a></div>
            <div id="pledges_block_info_1">
              <div class="pledges_block_info_backers">10 backers</div>
              <div class="pledges_block_info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="pledges_block_info_estimate_delivery">Estimate delivery: Jan 2013</div>
            </div>
          </div>
          <div class="pledges_block_info">
            <div class="pledges_block_info_link"><a id="link_pledges_block_info_link_2">Pledge $10 or more</a></div>
            <div id="pledges_block_info_2">
              <div class="pledges_block_info_backers">15 backers</div>
              <div class="pledges_block_info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="pledges_block_info_estimate_delivery">Estimate delivery: Feb 2013</div>
            </div>
          </div>   
        </div>
        <div id="payment_gateway">
          <h3 class="decoration text-center"><span class="nobgr">Payment Gateway</span></h3>
          <div class="payment_gateway_block">
            <div class="payment_cost">$15</div>
            <div class="your_card">
              <h3>Choose Your Card:</h3>
              <ul class="choose">
                <li>
                  <input id="rfirst" type="radio" name="radio" checked hidden />
                  <label for="rfirst">Visa</label>
                </li>
                <li>
                  <input id="rsecond" type="radio" name="radio" hidden />
                  <label for="rsecond">MasterCard</label>
                </li>
                <li>
                  <input id="re" type="radio" name="radio" hidden />
                  <label for="re">American Express</label>
                </li>
              </ul>
            </div>
            <div class="payment_gateway_button">
              <button class="btn btn-large make_payment" type="button">
                <small>Make Payment</small>
              </button>
            </div>
          </div>
        </div>-->

      </div><!-- end of column -->
    </div><!-- end of row -->
  </div><!-- end of content description -->
</div><!-- end of line -->


<script type="text/javascript">
	$(function(){
	  var iframe = $('#player1')[0];
	  var player = $f(iframe);
	  var $myCarousel = $('#myCarousel');

	  player.addEvent('ready', function() {
	      // player.addEvent('pause', onPause);
	      player.addEvent('play', onPlay);
	      //player.addEvent('playProgress', onPlayProgress);
	  });

	  $('#myCarousel').bind('slide', function(){
	      player.api('pause');
	      $('#myCarousel').carousel({
	          interval: 6000
	      })
	  });

	  function onPlay(id) {
	      $myCarousel.carousel('pause');
	  }

	 });
</script>