<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class => "navbar-brand" do %>
        <img src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1409673787/fw-logo-nbg_sm_h2rwiy.png" class="homepage-logo">
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="col-sm-3 col-md-3">
        <%= form_tag(posts_path, :method => "get", :class => "navbar-form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search for funds", :class => "form-control" %>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(howitworks_path) %>"><%= link_to "HOW IT WORKS", howitworks_path %></li>
        <% if user_signed_in? %>        
      		<li class="<%= 'active' if current_page?(new_post_path) %>">
            <%= link_to 'NEW FUND', new_post_path %>
          </li>
          <li class="<%= 'active' if controller.controller_name == 'notifications' %>">
            <%= link_to notifications_path do %>
              <i class="fa fa-envelope"></i>
              <% if current_user.mailbox.receipts.where(is_read: false).any? %>
                <span class="badge navbar-alert-bubble"><%= current_user.mailbox.receipts.where(is_read: false).count %></span>
              <% end %>
            <% end %>
          </li>
      		<li class="dropdown <%= 'active' if ((current_page?(giving_path) or current_page?(edit_user_registration_path)) or (current_page?(receiving_path))) or controller.controller_name == 'users' %>">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="personal-switch">
              <%= image_tag(current_user.user_info.avatar.url(:medium), :class => "img-circle navbar-avatar") %>
              <%= current_user.name %>&nbsp;<span class="badge navbar-alert-bubble">$<%= current_user.wallet.amount %></span>
              <i id="user-profile-dropdown-show" class="fa fa-caret-down"></i>
              <i id="user-profile-dropdown-hide" class="fa fa-caret-up"></i>
            </a>
		        <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do %>
                  <i class="fa fa-user"></i>&nbsp;PROFILE
                <% end %>
              </li>
              <li>
                <%= link_to giving_path do %>
                  <i class="fa fa-credit-card"></i>&nbsp;My FUNDS
                <% end %>
              </li>
		          <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cog"></i>&nbsp;SETTINGS
                <% end %>
              </li>
	            <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>&nbsp;LOGOUT
                <% end %>
              </li>
	        	</ul>
    			</li>
  			<% else %>
        	<li><%= link_to "<i class='fa fa-user'></i>&nbsp;SIGN IN".html_safe, "#myModal", :data => {:toggle=>"modal"} %></li>  		
  			<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script>
  $('#user-profile-dropdown-hide').hide();
  $('#user-profile-dropdown-show').show();
  $( "#personal-switch" ).focus(function(){
    $('#user-profile-dropdown-hide').show();
    $('#user-profile-dropdown-show').hide();
  });
  $( "#personal-switch" ).blur(function(){
    $('#user-profile-dropdown-hide').hide();
    $('#user-profile-dropdown-show').show();
  });
</script> 