<!-- Modal -->
<div class="modal fade" id="quick-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hiccups? Ideas? Please tell us!</h4>
      </div>
      <div class="modal-body" id="quick-contact-content-box">
        <div class="modal-margin">
          <div class="social-box" id="quick-contact-header">
            <div id="quick-contact-header-text">
              <h4>Whatever you care about</h4>
              <h2>We're on it</h2>
            </div>     
          </div>
          <span class="small pull-right link-source"><a href="http://m.niusnews.com/upload/imgs/default/14MayC/0522human/9.jpg" target="_blank">m.niusnews.com</a></span>
          <div class="main">  
            <%= form_for @contact do |f| %>
              <div>
                <%= f.label :name %><br />
                <% if current_user %>
                  <div class="contact-form-text"><%= current_user.name %></div>
                  <%= f.hidden_field :name, value: current_user.name %>
                <% else %>
                  <%= f.text_field :name, :class => "form-control form-group" %>
                <% end %>
              </div>
              <div>
                <%= f.label :email %><br />
                <% if current_user %>
                  <div class="contact-form-text"><%= current_user.email %></div>
                  <%= f.hidden_field :email, value: current_user.email %>
                <% else %>
                  <%= f.text_field :email, :class => "form-control form-group" %>
                <% end %>
              </div>
              <div>
                <%= f.label :message %><br />
                <%= f.text_area :message, :class => "form-control form-group", :rows => '5' %>
              </div>
            <span class="clearfix"></span>  
          </div>
          <div class="login-footer">
            <div class="row">
              <div class="col-xs-6 col-md-6 pull-left">
                <div class="login-help">
                  Can't wait?<br />Perhaps <a href="/faq">FAQ</a> can help you!
                </div>      
              </div>
              <div class="col-xs-6 col-md-6">   
                <%= f.submit "Submit", :class => "btn btn-fw btn-lg pull-right" %>           
                <% end %><!-- end form -->  
              </div>
            </div>
          </div>              
        </div>         
      </div><!-- end modal body -->
    </div><!-- end modal content -->
  </div><!-- end modal dialog -->
</div><!-- end modal fade -->